[2016-06-22 12:50] skibi opened #5 "Response parser error `No usable value for created_at`"
Hi
When i run tests i got error messages similar to that in demo issue

https://github.com/DanielaSfregola/twitter4s-demo/issues/1

When i go deeper i saw that have same problem even for such simple code
[code]
[code]

But that works fine
[code]

Im from Poland so when default `Locale` are used they are set as `PL`

I thing problem is here https://github.com/DanielaSfregola/twitter4s/blob/b5357ffc

[2016-06-22 13:08] DanielaSfregola commented on #5
Thank you for raising this issue! I am going to fix it asap.

The issue seems to be related to `SimpleDateFormat` that has a dependency on `Locale` ...and obviously this doesn't work in you have a different default Locale!

See http://stackoverflow.com/questions/4521715/twitter-date-unparseable for more details.

[2016-06-22 17:53] DanielaSfregola opened #6 "Media Upload support"
Add proper testing and documentation for media upload

[2016-06-22 17:59] DanielaSfregola opened #7 "Upload readme for 0.2 release"
...also with reales notes?

[2016-06-22 18:12] #5 closed

[2016-06-24 16:56] DanielaSfregola commented on #7
And a section on how to tweet with medias

[2016-06-24 17:13] #6 closed

[2016-06-24 17:41] DanielaSfregola commented on #7
documentation has been updated

[2016-06-24 18:14] #7 closed

[2016-06-27 06:54] DanielaSfregola opened #11 "Setup: token detection from env variables"
Token should be automatically loaded from environment variables if certain env variables are defined.

[2016-06-27 18:04] DanielaSfregola opened #12 "Update readme for REST + Streaming Client APIs"
Following #11, the TwitterClient is now initialised slightly  different.

1) update the readme with new initialisation
2) update blog article with new initialisation
3) mention env variables automatic detection in readme

[2016-06-27 18:17] #11 closed

[2016-06-28 19:40] DanielaSfregola opened #15 "Streaming API - users"
Implement users streams

[2016-08-22 13:49] loicknuchel opened #17 "`PipelineException: No usable value for search_metadata` on empty search result"
When I perform a search and there is no results I get the error :
[code]

My Play action :
[code]

And the full stacktrace :
[code]

[2016-08-23 06:16] DanielaSfregola commented on #17
Thank you for raising this bug! We'll fix it asap

[2016-08-23 08:31] loicknuchel commented on #17
Thanks for your quick answer :)
I've got the same for some other methods...
Maybe you can check twitter response, they seems to be different when there is no data...

[2016-08-23 08:33] DanielaSfregola commented on #17
Will do, actually you are correct: no data is an edge case that I forgot to analyse! cheers

[2016-08-28 09:17] #17 closed

[2016-08-28 09:43] DanielaSfregola commented on #17
Hi Loic,
I have done a patch release with a fix for the bug you raised.
Upgrading to version 0.2.1 should fix your problem.

Cheers and thank you again for flagging the issue!
Daniela

[2016-08-28 13:51] loicknuchel commented on #17
Hi @DanielaSfregola, awesome !
Thanks for your quick fix !

[2016-09-02 14:48] DanielaSfregola opened #19 "Public streaming support - baseline"
Decide how the streaming API should look and how it should be used

[2016-09-02 15:18] DanielaSfregola opened #20 "Add scalafmt"
# formatting-all-the-things!

[2016-09-02 15:47] DanielaSfregola commented on #20
unfortunately cannot be done because of https://github.com/olafurpg/scalafmt/issues/414.
Maybe when we will upgrade to Akka Http?

[2016-09-02 16:54] DanielaSfregola opened #21 "Streaming API - statuses"
We should make sure that all the parameters of the statuses streams are supported and that the methods defined are consistent with what we have done so far -- for example use a list for a list, not an option.

[2016-09-03 08:48] DanielaSfregola opened #23 "Streaming API - sites"
implement sites streams

[2016-09-03 09:24] #19 closed

[2016-09-03 09:45] DanielaSfregola opened #24 "Streaming API - test improments"
We should test the unmarshalling of all the streaming messages

[2016-09-04 08:59] DanielaSfregola opened #25 "Proxy support"
We should allow to override the domain of the URI, so that people can use the library behind a proxy

[2016-09-04 11:15] #24 closed

[2016-09-04 11:18] DanielaSfregola opened #27 "private[twitter4s]"
Internal API should be have visibility private[twitter4s]

[2016-09-04 15:15] #27 closed

[2016-09-04 17:08] #21 closed

[2016-09-05 17:50] #15 closed

[2016-09-06 07:34] DanielaSfregola opened #32 "Stream - 403 Forbidden"
At present, if the stream gets rejected because of permission issues -- like 403 Forbidden -- we simply explode all over the place.

We should fail more gracefully -- and check the behaviour for the REST clients as well!

[2016-09-06 07:45] DanielaSfregola opened #33 "Support Site REST Client"
We should support endpoint to monitor and edit site stream. See https://dev.twitter.com/streaming/sitestreams/controlstreams

[2016-09-06 21:37] #23 closed

[2016-09-08 18:12] DanielaSfregola opened #35 "Dump to file Processor"

[2016-09-08 19:17] #25 closed

[2016-09-08 21:59] #12 closed

[2016-09-15 10:21] DanielaSfregola opened #38 "TwitterStreamingClient vs TwitterRestClient inizialization"
They should have the same initialization for the apply method.
At present, we have `TwitterRestClient()` vs `TwitterStreamingClient`.
Both of them should have the parenthesis.

[2016-09-15 14:03] #38 closed

[2016-09-16 06:55] DanielaSfregola opened #40 "getTweet wrong documentation"
getTweet has a wrong documentation: it mentions retweets, but it is actually about retrieving a tweet by id.

[2016-09-16 07:05] #40 closed

[2016-09-16 20:06] DanielaSfregola opened #42 "User authentication"
At present, we only support application authentication.
We should also support user authentication. See https://dev.twitter.com/oauth/overview/introduction

[2016-09-16 22:04] #32 closed

[2016-09-26 17:32] DanielaSfregola opened #44 "StreamingMessages and Streams"
Not all the streaming messages are available for all the streaming types.
For example, events are only on UserStream.
This should be clear in both the type and the documentation.

[2016-09-26 17:34] DanielaSfregola opened #45 "PartialFunction[StreamingMessage]"
It would be cool if we could just discard the streaming messages that are not matched by the function StreamingMessage => Unit

[2016-09-26 19:58] DanielaSfregola opened #46 "Events and DirectMessages unmarshalling"
Events and DirectMessages are unmarshalled as FriendsLists.

[2016-09-27 07:04] DanielaSfregola commented on #44
Also, you could fix the type of user envelops

[2016-09-27 07:39] #46 closed

[2016-09-28 06:18] DanielaSfregola opened #49 "README Streaming messages"
Now that we have refactored the streaming messages, it would cool to have in the readme a clear list of all the possible message types for each stream type

[2016-09-28 06:23] DanielaSfregola commented on #49
Also, initialisation session is ambiguous. Improve it!

[2016-09-28 12:44] #44 closed

[2016-09-28 12:44] #45 closed

[2016-09-28 12:45] DanielaSfregola commented on #49
Also, we should mention the partial function deal and that messages are automatically discarded

[2016-09-30 16:01] #49 closed

[2016-11-28 18:37] DanielaSfregola opened #54 "Migration to Scala 2.12"
...we should support Scala 2.12!

[2016-11-28 18:38] DanielaSfregola opened #55 "Migration to Akka-Http"
We currently using Spray -- that is no longer supported by the Akka team.
We should migrate to Akka-Http.

[2016-11-28 18:49] DanielaSfregola opened #56 "Contribution Instructions"
README needs to mention how to contribute to the project, how to run the tests in particular

[2016-12-01 07:06] DanielaSfregola opened #57 "Write Simple Processors to support the most common dbs"
A Processor is a partial function that process data from a stream and does something with it -- see documentation for more information.

Wouldn't be great having a set of predefined processors that save tweets from a stream for the most common used db? That would translate in implementing a function `PartialFunction[Tweet, Unit]` where the side effect is saving in a db -- probably with bulk update

[2016-12-01 07:33] DanielaSfregola opened #58 "Examples of how to use the library"
https://github.com/DanielaSfregola/twitter4s-demo is a repo with examples on how to use twitter4s.

We have a few examples on how to use the rest client -- but they are not great as they are sometimes over complicated....we have none for the streaming client!

We should add more examples in twitter4s-demo

[2016-12-01 17:30] #56 closed

[2016-12-10 14:03] qabbasi commented on #55
Hi Daniela,

I will work on this issue and will hopefully come up with pr around...

Cheers,
Qaiser

[2016-12-10 14:03] Cs4r commented on #35
I may try to tackle this issue

[2016-12-10 14:10] gderham commented on #42
I'll do this.

[2016-12-10 15:01] qabbasi opened #63 "Introduce JSON marshalling with io.circe"

[2016-12-10 15:36] DanielaSfregola opened #64 "User Image Resolution"
We discovered that by changing `_bigger`, `_small`, `_normal` to the url, you can change the resolution of an image.

It would be cool to support it

[2016-12-10 15:37] DanielaSfregola opened #65 "Image Resolution"
We know that you can change the image resolution of a user image profile (see #64 ).
Can we do it for other media as well? If so, it would be cool to support it.

[2016-12-10 15:46] DanielaSfregola opened #66 "Filter by language"
In partilar when streaming it would be cool to filter by language -- something like twitter4j does (language parameter en?) in the streaming client

[2016-12-10 15:52] DanielaSfregola opened #67 "Refreshing a stream"
One a stream has been started with certain parameters, it would be cool to have the opportunity to replace it with another with different parameters.

[2016-12-10 15:58] DanielaSfregola opened #68 "Closing streaming"
We should support a stream shutdown.

[2016-12-10 16:19] alchimystic commented on #57
I will work on this in the future.

As we discussed:
Framework to use: Slick
Entities to persist: Tweeks

Design:
For each table/entity, we need to create a table mapping and eventually a DAO.
Possibly we need distinct mappings, one for SQL and another for NOSQL
I will use Slick 3.1.1

[2016-12-11 10:31] DanielaSfregola commented on #63
Although this is not a priority at the moment, I think using circe to serialize/deserialize would be a good idea! 👍

[2016-12-11 10:35] DanielaSfregola opened #69 "Remove `get` from methods calls"
There are a lot of methods called `getProfileSettings`, `getUrl`, `getStatusesFilter` (this last one is terrible!).

As discussed during the ScalaXHack, this makes sense in java, but not in scala where we could have a much more natural method calls without the get: `profileSettings`, `url`, `filterStatuses`....

We should change all the methods to have the new style. Because this is a major change

[2016-12-11 17:46] DanielaSfregola opened #71 "Support all standard params for Streaming requests"
See https://dev.twitter.com/streaming/overview/request-parameters
There are some parameters in the streaming API that we do not support....we should!

[2016-12-12 08:05] #66 closed

[2016-12-14 18:58] DanielaSfregola commented on #55
starting working on this as well, as it has become the highest priority...

[2016-12-16 15:04] maciejbak85 commented on #54
first needed akka http :)

[2016-12-16 15:06] DanielaSfregola commented on #54
Indeed! I am working on it, you can see my progress on #55_migration_to_akka_http...hopefully these christmas days will be productive enough to get it done -- it is also blocking some other tickets.

As usual, contributions are more than welcome! :dancing_men:

[2016-12-19 20:34] DanielaSfregola commented on #65
I had a look at the:
- twitter documentation
- twitter4j code
- example json files that we have generated for test purposes.

It seems like only the user profile is the only one with different resolutions available.

Closing this ticket for now. If we then discover that this is not the case, we can always reopen this ticket.

[2016-12-19 20:34] #65 closed

[2016-12-19 21:10] #64 closed

[2016-12-19 21:26] #69 closed

[2017-01-02 17:26] iharh opened #79 "is it possible to deal with RateLimit in some way?"
is it possible to deal with RateLimit in some way?

[INFO] [01/02/2017 20:18:37.005] [twitter4s-rest-akka.actor.default-dispatcher-2] [ActorSystem(twitter4s-rest)] GET https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=true&lang=es&q=android&result_type=recent (429 Too Many Requests) | 1082ms
com.danielasfregola.twitter4s.exceptions.TwitterException: [429 Too Many Requests]

[2017-01-03 10:24] DanielaSfregola commented on #79
Hi @iharh , have a look at this page from the twitter dev documentation with a few tips around mitigating the rate limit issue: https://dev.twitter.com/rest/public/rate-limiting.

In my experience, most of the time switching to the use of the streaming api is the way of solving rate limit issues -- but it really depends on the type of the application you are building.

Cheers,
Daniela

[2017-01-03 10:24] DanielaSfregola commented on #79
Closing this issue, feel free to reopen it if needed.

D.

[2017-01-03 10:24] #79 closed

[2017-01-03 10:58] iharh commented on #79
Thank you, Daniela, for the link. I decided to go another way first - check "X-Rate-Limit..." HTTP headers for the REST API...

[2017-01-03 11:02] DanielaSfregola commented on #79
mmm....interesting! Feel free to let me know if this is something that we should support -- PRs are always welcome ;)

[2017-01-03 11:07] iharh commented on #79
I'm going to check headers myself, but, in general, you can better catch/process/rethrow exceptions at at com.danielasfregola.twitter4s.http.clients.Client, called by ForkJoinExecutor, if that is possible at all.

[2017-01-03 11:31] iharh commented on #79
I've just started to look at the way to extract TwitterSearch response headers. Do you have any existing way/sample to do this using existing REST API (TwitterSearchClient-like-way) ?

[2017-01-03 11:33] DanielaSfregola commented on #79
I am afraid I don't -- at present this is something that we do not do yet

[2017-01-03 11:34] DanielaSfregola commented on #79
Let me create a ticket for it!

[2017-01-03 11:36] DanielaSfregola opened #80 "Rate Limit Headers support"
Have a look at: https://dev.twitter.com/rest/public/rate-limiting

Headers can suggest the current rate limits. It would be cool to enable this feature when needed (or just enable it...?) and return this information somehow in the REST response.

[2017-01-03 11:36] iharh commented on #79
Thank you, Daniela. I've just also realized that TwitterSearchClient is just a one of a fixed-size-set of traits and it is impossible to create/mix a new one without rewriting existing code.

[2017-01-03 11:36] DanielaSfregola commented on #79
Ticket created: https://github.com/DanielaSfregola/twitter4s/issues/80

[2017-01-04 19:00] #55 closed

[2017-01-06 14:39] kamijin-fanta opened #82 "Stream can not be received in a few minutes"
When the stream stops, no error is displayed.
How can I improve the fault tolerance of my application?

example codes

[code]

[code]

[2017-01-06 14:53] DanielaSfregola commented on #82
Hi @kamijin-fanta,
by definition a stream never stops, so I am not sure what is the desired behaviour here :)

Note that in the backlog we have a ticket (see #68 ) about adding the functionality of closing the stream from the client if needed -- although at the moment this functionality is not supported.

Cheers,
D.

[2017-01-06 15:08] kamijin-fanta commented on #82
@DanielaSfregola Thank!

To quickly reproduce this error, disconnect the LAN cable.
I think that it will be the same situation as my own environment.

If handling of errors is possible, I can restart AkkaStream, but in the current situation it is difficult.

[2017-01-06 16:00] DanielaSfregola commented on #82
Hi @kamijin-fanta,
what about something like the following?

[code]

The idea is that when in general when a stream is completed it will return a `Future[Unit]`. That future contains information on the connection of the stream, so in your case it will contain that the stream failed because of network issues.

[2017-01-06 16:49] kamijin-fanta commented on #82
I was not aware that the Future was being returned.
Thank you!

But, such an error has occurred.

[code]

When you write the setting, you can check it immediately.

[code]

I think there is a structural problem...

[2017-01-07 07:54] kamijin-fanta commented on #82
Change the setting, the error no longer occurs.

[code]
[code]

[2017-01-07 11:50] DanielaSfregola commented on #82
My fault! I forgot to specify that that particular stream is potentially infinite.

I am going to fix it and release a patch version for it.

[2017-01-07 12:36] DanielaSfregola commented on #82
A fix for this has been released in version 4.0.1 -- it is on sonatype already, it will be in maven central in a couple of hours.

Closing this ticket. If this is still not working, please reopen the ticket.

[2017-01-07 12:36] #82 closed

[2017-01-12 14:02] DanielaSfregola opened #84 "Doc fix"
Fix scaladoc description of TwitterSearchClient.searchTweet

[2017-01-12 17:51] DanielaSfregola opened #85 "Update documentation on streaming"
Make sure to mention that we can
* close a stream ( #68 )
* replace a stream ( #67 )

[2017-01-12 18:26] #68 closed

[2017-01-12 19:11] #67 closed

[2017-01-13 08:06] #84 closed

[2017-01-13 08:25] DanielaSfregola opened #90 "Scaladoc improvements"
Remove all the noise from the scaladocs by prepopulating filters

[2017-01-13 20:24] DanielaSfregola opened #91 "REST tweet search query issue"
Depending on the query, we get "Could not authenticate you". This is because the query should be encoded -- and it is not

This bug was raised here: https://github.com/DanielaSfregola/twitter4s-demo/issues/5

[2017-01-13 21:15] #91 closed

[2017-01-13 23:38] MyraBaba commented on #91
land=xx   means  lang=xx

[2017-01-14 10:54] #85 closed

[2017-01-16 18:34] DanielaSfregola commented on #90
This has been completed

[2017-01-16 18:34] #90 closed

[2017-01-21 13:03] memoizr opened #94 "Improve coverage of `StreamingMessageSerializers`"
Commenting out lines from this class does not break any tests, when it probably should. Example:
[code]
and

[code]

[2017-01-21 19:17] MyraBaba opened #96 "entities.media always empty."
entities.media  and urls always empty in Tweet4s-demo   search rest point.

fyi

[2017-01-24 08:42] DanielaSfregola commented on #94
Half of this issue has been solved by #98. The other half, still need to be addressed.

[2017-01-24 12:53] MyraBaba commented on #96
have you chance to investigate it ? any clue *

[2017-01-24 14:15] DanielaSfregola commented on #96
Hi @MyraBaba, unfortunately, I still have to find the time to look at this -- but it is next in my TODO list.

In the meanwhile, feel free to have a look at the code and propose a fix - PRs are always welcome!

[2017-01-24 14:19] MyraBaba commented on #96
I am looking.. my scala knowledge is pro-mid level.  so didnt discover yet.

I have a small integration for demo code to wirte elastic search.  if I can find out how to submit ( :  )  )  I will do it.

PS: is there any way to get RAW json response . can you direct me ?

thx

[2017-01-24 14:23] DanielaSfregola commented on #96
we do have several RAW json that we use in our tests. See for example: https://github.com/DanielaSfregola/twitter4s/blob/master/src/test/resources/twitter/rest/statuses/retweet.json

The error is probably in the way we convert the json received by twitter into the Tweet case class.

[2017-01-24 14:25] MyraBaba commented on #96
I mean the RAW json in the code at first received. to tract conversion.

[2017-01-24 14:29] DanielaSfregola commented on #96
See https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/rest/RestClient.scala#L30

`json4sUnmarshaller` is the function that converts the body of the response into the case class

[2017-01-24 15:46] MyraBaba commented on #96
I try to track json response : in RestClient.scala :

def respondAs[T: Manifest]: Future[T] =
  for {
    requestWithAuth <- withOAuthHeader(request)
    t <- sendReceiveAs[T](requestWithAuth)
  } yield t

I debug t   .  And look in it. All entities.media is also empty . is it before conversion or after ?

[2017-01-24 18:10] DanielaSfregola commented on #96
Bug Found! PR coming soon

[2017-01-24 19:07] #96 closed

[2017-01-24 19:11] DanielaSfregola commented on #96
Hi @MyraBaba, the fix is now in 4.2-SNAPSHOT.
It will be released as part of 4.2.

Cheers,
Daniela

[2017-01-24 20:04] MyraBaba commented on #96
I just discovered the solution :)  in the : https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/entities/Entities.scala

I added :

`case class EntitiesMediaDetails(display_url: String ,
                                expanded_url: String ,
                                id_str: String ,
                                media_url: String ,

[2017-01-24 21:22] MyraBaba commented on #96
Hi,

Where can I find 4.2-SNAPSHOT ?  couldnt find the jar.  or sbt def.

[2017-01-25 07:23] DanielaSfregola commented on #96
Please refer to the README: https://github.com/DanielaSfregola/twitter4s#snapshot-versions

[2017-01-26 17:43] MyraBaba opened #101 "extended_entities is not adressed in rest search client"
tweet_mode=extended   gives more media (extra jpg, gifs and video)
Most of the media coming from entended_entites.
search rest API should be fixed accordingly.

`"extended_entities":  {
          "media":  [
             {
              "id": 824577120492015600,
              "id_str": "824577120492015616",
              "indices":  [
                63,
                86
              ],

[2017-01-26 17:50] DanielaSfregola commented on #101
@MyraBaba please try to be more explicit when raising tickets.

Which version of twitter4s are you using? When you state that `search rest API should be fixed accordingly` what do you mean? Do you mean that `extended_entities` should be added in the tweet entity? do you mean that there is a parameter that we should support?

[2017-01-26 17:54] MyraBaba commented on #101
when I used tweet_mode = extended   it looks like response JSON couldnt parse correctly.  I am trying to debug and fix like :

to add:

entities.Tweet.scala
extended_entities: Option[ExtendedEntities] = None,

and:

case class ExtendedEntities(media: Seq[ExtendenEntitiesMediaDetails] = Seq.empty)

case class ExtendenEntitiesMediaDetails(display_url: String ,
                                expande

[2017-01-26 18:02] DanielaSfregola commented on #101
Hi @MyraBaba,
thank you for adding the requested details!
I have added an extended_entities to the Tweet entity a few days ago -- have a look at https://github.com/DanielaSfregola/twitter4s/commit/ef1fad8f1537f420b750348b4a424bc2691686b5#diff-e137776e4702245e95d2d6cbaadabd2dR12

The code is not released yet, so you need to use 4.2-SNAPSHOT in order to see it.

[2017-01-26 18:03] MyraBaba commented on #101
where can I get snapshots  sources also ?

[2017-01-26 18:06] DanielaSfregola commented on #101
In the README you have all the information on how to use SNAPSHOT versions -- see https://github.com/DanielaSfregola/twitter4s#snapshot-versions.

In summary, you need to:
1) Assuming you are using sbt, you need to add the resolver for snapshot to your program (either on build.sbt or plugins.sbt):
[code]

2) update your version to "4.2-SNAPSHOT"

[2017-01-27 08:45] #101 closed

[2017-01-27 13:15] MyraBaba commented on #101
Hi,

I added snapshot 4.2 .  When I checked the TwitterSearchClient:
`def searchTweet(query: String,
                  count: Int = 15,
                  include_entities: Boolean = true,
                  result_type: ResultType = ResultType.Mixed,
                  geocode: Option[GeoCode] = None,
                  language: Option[Language] = None,
                  locale: Option[String] = Non

[2017-01-27 14:22] DanielaSfregola opened #102 "Support for tweet_mode"
tweet_mode is a parameter that has been added to all the REST endpoint -- see https://dev.twitter.com/overview/api/upcoming-changes-to-tweets

We should support it (feature request from #101 ).

[2017-01-27 14:23] DanielaSfregola commented on #101
Hi @MyraBaba,
we do not support this parameter at the moment. I have created a ticket to add it -- see #102.

[2017-01-27 14:27] MyraBaba commented on #101
Hi Daniela,

I am also trying to help and also contribute.  Not expert in the Scala but yet.

Meanwhile for my debugging how can I get the raw json reponse from the twitter in the search client ? It could be helpfull for debugging to understand why something is not working.

If I miss configured the Entities such as ,  its not giving any error to poing me direction.

To put an optionto get RAW twi

[2017-01-27 14:30] DanielaSfregola commented on #101
Hi @MyraBaba,
I think if you use the debugger, you should be able to see the whole response coming from Twitter.

Regards,
Daniela

[2017-01-27 14:32] MyraBaba commented on #101
strugling with intellij..  because of the futures I think intellij missing some point..

working..on it

[2017-01-27 15:18] MyraBaba commented on #102
Hi,

I added tweet_mode to TwitterSearchClient:

`def searchTweet(query: String,
                  count: Int = 15,
                  include_entities: Boolean = true,
                  result_type: ResultType = ResultType.Mixed,
                  geocode: Option[GeoCode] = None,
                  language: Option[Language] = None,
                  tweet_mode: Option[String] = None,

[2017-01-28 01:12] MyraBaba commented on #101
Hi Daniela,

I have a quick fix for the tweet_mode=extended..

when extended json requested there is few changes:

    {
      "created_at": "Sat Jan 28 00:52:05 +0000 2017",
      "id": 825144379857829889,
      "id_str": "825144379857829889",
      "full_text": "RT @baydemirosman: AKP'nin Referandum çalışması.\nMilletvekilleri gözaltında. https://t.co/s553rzCjat",
      "truncated": false,

[2017-01-28 08:11] DanielaSfregola commented on #101
Hi @MyraBaba ,
Please  do not add the code to the ticket, but create a pull request. Also, please comment in the correct ticket: this ticket is not about tweet mode (see #102), but it about adding extended entities to a tweet and it is already been closed.

[2017-01-28 09:22] DanielaSfregola opened #103 "ActorSystem shutdown"
As suggested at the HackTheTower in Jan 2017, we should have a function to terminate the actor system associated to the client.

[2017-01-28 09:25] DanielaSfregola opened #104 "Add more apply functions"
Following HackTheTower in Jan 2017, add more apply functions to give more options when creating the clients.

[2017-01-28 09:26] DanielaSfregola opened #105 "Hide implementation details"
Following HackTheTower in Jan 2017, we realised that lots of functions that are not meant to be used are exposed. We should hide them.

[2017-01-28 09:27] DanielaSfregola opened #106 "Testing for TwitterProcessors"
....they should be tested!

[2017-01-28 09:28] DanielaSfregola opened #107 "Media Upload testing"
We should improve the test coverage of media upload.

[2017-01-28 09:29] DanielaSfregola opened #108 "language in Tweet"
Following HackTheTower in Jan 2017, why is language in Tweet a string and not a Language enum?

[2017-01-28 09:29] nwoodthorpe-test1 commented on #108
![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44e.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f4af.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f522.png?v7 "Logo Title

[2017-01-28 10:35] DanielaSfregola opened #109 "Entities serialization tests"
We should write explicit tests on how we serialize/deserialize each entity...

....an opportunity to use [Random Data Generator](https://github.com/DanielaSfregola/random-data-generator) here?

[2017-01-28 15:14] #103 closed

[2017-01-28 15:14] #104 closed

[2017-01-29 16:40] DanielaSfregola opened #111 "Remove actor system when creating clients?"
Do we really need an actor system when initializing the clients? that is a detail of the implementation that shouldn't really matter.

[2017-01-31 16:51] DanielaSfregola opened #112 "Remove deprecated functions"
The next release will be a major one. We should remove deprecated methods.

[2017-01-31 17:06] #105 closed

[2017-01-31 17:06] DanielaSfregola commented on #111
This has been resolved by #113

[2017-01-31 17:07] #111 closed

[2017-01-31 17:07] DanielaSfregola opened #114 "5.0: Update README"
We should update the README now that the initialization of the clients is different (i.e.: actor system no longer needed)

[2017-01-31 17:36] #112 closed

[2017-02-03 16:51] DanielaSfregola commented on #108
Following some investigation, mapping all the possible language codes is quite a challenge (see language `und`).

https://dev.twitter.com/rest/reference/get/help/languages is not an exhaustive list of all the languages apparently.

[2017-02-03 16:52] #108 closed

[2017-02-05 16:07] #80 closed

[2017-02-06 17:21] DanielaSfregola commented on #42
https://dev.twitter.com/oauth/reference

[2017-02-06 17:26] DanielaSfregola commented on #42
https://oauth.net/core/1.0/#anchor9

[2017-02-10 11:19] DanielaSfregola opened #118 "ActorSystem termination"
Following #103 , we should shut down the actor system also in case of failures.

[2017-02-14 03:12] farmdawgnation opened #119 "Sending direct messages doesn't work"
Sending direct messages doesn't work because the rest client attempts to use the Get verb instead of the post verb.

[2017-02-14 03:18] farmdawgnation commented on #119
Ah, ignore me. This bug appears to have been fixed since 4.2.... it just hasn't been released yet hehe. Any chance there's another release coming soon? :angel:

[2017-02-14 09:13] DanielaSfregola commented on #119
Hi @farmdawgnation! Thanks for raising this bug -- I have realised my mistake when doing some refactoring for the next major release.

I am preparing a major release that I hope to finish in a couple of weeks -- so hopefully it should not be too long before another release (lots of improvements there!).

That being said, there are 2 ways of sending direct messages:
1) `createDirectMessage` inside

[2017-02-14 09:14] DanielaSfregola commented on #119
For future reference, this bug has been fixed by commit https://github.com/DanielaSfregola/twitter4s/commit/d2c6d8fe45098ae5f851ca0140983d5d47685a54

[2017-02-14 09:16] #119 closed

[2017-02-24 15:47] chrisbeach opened #120 "Incorrect request being sent to twitter for TwitterStreamingClient.filterStatuses"
I'm finding `TwitterStreamingClient.filterStatuses` method is generating an invalid request to Twitter:
I'm supplying Seqs of Longs and Strings as required (the code compiles)

However, the request is rejected by Twitter because it appears to contain a dodgy toString on Scala objects - resulting in "Vector(..." etc

`follow=Vector%28731067654220419072%2C+751909641274155008%29&language=en&stall_war

[2017-02-25 09:02] DanielaSfregola commented on #120
Oh Dear! Thanks for raising this -- I'll solve it with high priority!

[2017-02-25 14:32] DanielaSfregola commented on #63
After speaking with quite a few people, Circe is a bit slow at compilation time.

For now, let's try not to depend on libraries that are particularly heavy on the compilator -- we want this project to be quick at compile time for interactive notebooks like Jupiter.

We are not going to this. At least, for the moment.

[2017-02-25 14:32] #63 closed

[2017-02-25 15:14] #118 closed

[2017-02-25 16:06] #120 closed

[2017-02-26 08:39] #114 closed

[2017-02-26 10:08] DanielaSfregola commented on #120
This is now available in twitter4s 5.0

[2017-02-26 10:08] DanielaSfregola commented on #119
This is now available in twitter4s 5.0

[2017-02-26 10:30] DanielaSfregola commented on #79
Rate Limits support is now available in twitter4s 5.0

[2017-02-26 10:52] DanielaSfregola opened #124 "TwitterProcessors"
A few improvements there:
- implementation details should be hidden (no need to expose unmarshallers)
- proper scaladoc needed
- probably to be moved in a separate module

[2017-02-26 16:44] iharh commented on #79
Thank you, Daniela

[2017-04-02 11:11] yeryomenkom opened #125 "401 Unauthorized - conflict with other dependencies"
I am trying to run simple snippet of code:

object TwitterSupplier extends App {

  val client = TwitterStreamingClient()

  def printTweetText: PartialFunction[StreamingMessage, Unit] = {
    case tweet: Tweet => println(tweet.text)
  }

  client.sampleStatuses(stall_warnings = true)(printTweetText)

}

Tokens are in application.conf
Always get the same result:
ERROR twitter4s - Stream could not

[2017-04-03 16:23] DanielaSfregola commented on #125
Hi @yeryomenkom,
just tested the code you posted and it works just fine for me.

It must be a problem associated with your tokens.

A few tips that could help you find out where the problem is:
- try to use any call from `TwitterRestClient`. If even the call using the `TwitterRestClient` is failing with a 401, there is a good chance that your tokens are not quite right.
- check that your configura

[2017-04-03 20:13] yeryomenkom commented on #125
Thank your for reply)
I've tried use `TwitterRestClient` and get the same error. So this is something wrong with my keys.
access_key and access_secret are Access Token and Access Token Secret from https://apps.twitter.com page of my app?
Or maybe I should specify Callback URL while creating twitter app?
I checked my keys few times, regenerate they, tried again and again and nothing work :(

[2017-04-04 09:32] yeryomenkom commented on #125
Is there libraries, which could conflict with twitter4s?
I've removed all other dependencies from my project and now everything works fine.
Maybe some of them could: akkaClusterTools, akkaHttp, akkaSse?

[2017-04-04 09:39] DanielaSfregola commented on #125
Hi @yeryomenkom,
glad this is working now.

I do not believe other dependencies are able to conflict with twitter4s.

the 401 message means that you were able to connect to twitter, it just means they didn't like the authentication provided.

What happens if you print out the tokens are initializing the client? Are they different with or without these dependencies?

For example you could do:
[code

[2017-04-04 13:11] yeryomenkom commented on #125
Problem occurs when adding ` "com.typesafe.akka" %% "akka-http" % "10.0.3"` to dependencies list.
I've checked tokens. There are the same.

[2017-04-10 09:38] C0mmander198 opened #126 "AbstractMethodError"
When trying to create a streamingClient I get this error message:

Exception in thread "main" java.lang.AbstractMethodError: com.danielasfregola.twitter4s.http.serializers.JsonSupport$$anon$1.org$json4s$DefaultFormats$_setter_$strict_$eq(Z)V

This is thrown when I run
val streamingClient = TwitterStreamingClient(consumerToken, accessToken)
as defined in the documentation.

[2017-04-10 10:05] DanielaSfregola commented on #126
HI @C0mmander198, thanks for raising this issue!

Which version of twitter4s are you using? if you run a `sbt clean` -- assuming you are using sbt to run the code -- does the error still persist?

Thanks,
D.

[2017-04-12 07:05] EhsanYousefi commented on #125
Same issue, I've double checked everything, I'm gonna try another client, maybe twitter is the problem.

[2017-04-12 07:35] EhsanYousefi commented on #125
Twitter4j works fine with the same credentials, so nothing is wrong with Twitter.

[2017-04-12 07:38] DanielaSfregola commented on #125
Hi @EhsanYousefi, as @yeryomenkom said it is a problem with overriding dependencies.

I'll have a look and fix it asap. In the meantime, contributions are more than welcome.

[2017-04-14 18:13] bbarker commented on #125
Just confirming we have the same problem with using akka-http 10.0.3. Had been baffled by this for a while and was just about to post an issue since the problem didn't occur with a minimum working example and with the same credentials (as reported by others)!

[2017-04-14 18:17] bbarker commented on #125
Is there a good way to get an http dump in twitter4s? Might be helpful for comparison with the minimal working example.

[2017-04-15 11:44] DanielaSfregola commented on #125
Hi guys,
thanks again for raising this issue!

Found and fix the bug (see #127 if you are curious). This indeed a pretty annoying problem, so I have decided to release it right away.

Upgrading to `twitter4s 5.1` should fix the issue, so please do so and let me know if the issue still persists.

[2017-04-15 11:44] #125 closed

[2017-04-15 11:45] DanielaSfregola commented on #125
Hi @bbarker,
if you enable the debugger you should be able to see all the details of the requests made by twitter4s.

Cheers,
D.

[2017-04-17 14:07] DanielaSfregola commented on #126
Closing due to inactivity. Please, if this is still a problem let me know and I'll reopen the ticket.

Cheers,
D.

[2017-04-17 14:07] #126 closed

[2017-04-17 14:09] DanielaSfregola opened #129 "Twitter Auth Client - README"
Added mention of the `TwitterAuthenticationClient` in the README with a simple example on how to use it.

[2017-04-17 14:15] #42 closed

[2017-07-28 11:56] RPCMoritz opened #130 "Clarify TwitterStatusClient scaladoc"
The current documentation reads:
`@param tracks : Empty by default. Keywords to track. Phrases of keywords are specified by a comma-separated list.
`
Yet, the actual implementation expects a Seq[String]. This leaves unclear, whether a single-element Seq[String] with a comma-separated String is expected, or whether documentation is wrong, and a Seq of Strings with one term/id per String is expected

[2017-08-02 07:19] DanielaSfregola commented on #130
Hi @RPCMoritz,
thanks for the heads up! You are absolutely right, we'll improve the documentation asap.

(PRs are always welcome!)

Regards,
Daniela

[2017-08-16 17:28] edcastsachin opened #131 "TwitterRestClient.uploadMediaFromPath and all its variants fail with cryptic message..."
Simple Media upload of a "png" file fails with a cryptic message...

`[info] Running SlimClient
Unexpected type info AnnotatedType(TypeRefType(NoPrefixType,TypeSymbol(T, owner=0, flags=12100, info=33 ),List()),List(40))
[success] Total time: 4 s, completed Aug 16, 2017 10:21:24 AM
`

The following program has been tried with 5.0, 5.1 and also SNAPSHOT-5.2 version of twitter4s.

[code]

[2017-08-17 07:23] DanielaSfregola commented on #131
Hi @edcastsachin,
we'll have a look at it. Could you please provide the stack trace of the exception?

Thanks

[2017-09-27 08:59] DanielaSfregola opened #135 "280 chars support"
Now that tweets can have up to 280 chars, we really need to update the library!

Not sure what changed in the API yet, finding that out could be a good first step.

[2017-09-27 09:39] ivanopagano commented on #135
Does the code explicitly use the limit somewhere? How would it affect the client?

[2017-09-27 09:47] DanielaSfregola commented on #135
We do not limit the length when creating a tweet but we rely on Twitter to block us if the length is not quite right (see [here](https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/rest/statuses/TwitterStatusClient.scala#L338) for the code)....so that should be already be working (obviously, documentation should be updated and this ass

[2017-09-27 13:01] raam86 commented on #135
* Like you suspected the tweets are getting truncated:

[code]

Seems like twitter are still rolling this feature out and there's not documentation on how to get the full tweet, the `truncated` property is set to true, something that shouldn't happen to "new" tweets.

I guess we'll have to wait for twitter to release more details.
* The extended  tweet page return 404

[2017-09-27 13:12] DanielaSfregola commented on #135
Awesome, thanks @raam86 for looking into this!

[2017-09-27 13:38] raam86 commented on #135
It's a was pleasure reading your docs and code so thank you :1st_place_medal:

[2017-09-28 07:41] DanielaSfregola opened #137 "Giter8 template"
...giter8 is cool! Can we create a template for a skeleton project using twitter4s?

[2017-09-28 13:08] DanielaSfregola opened #138 "Several logging improvements"
For some reason we use scalalogging for logging purposes (see [here](https://github.com/DanielaSfregola/twitter4s/blob/6c0e4602fc10bd10dd6e9e1f1c99ecc5d16beb21/src/main/scala/com/danielasfregola/twitter4s/util/Logger.scala))

Sometimes we use LazyLogging, but people may expect we use akka logging.

- Unify the way logs are handled
- make it easy for people to change the log level
- update twitter4

[2017-10-03 19:30] dmitraver commented on #138
@DanielaSfregola hi, I might take this one.

[2017-10-06 13:05] vooolll opened #140 "Actor system termination question"
Hi, Inspired by twitter4s, I start building client library for facebook - https://github.com/vooolll/facebook4s. Could you please answer, should I shutdown actor system on each request to client library? How it works in `twitter4s`? I guess creation of actor system consumes resources, how you approach this?

[2017-10-06 17:55] DanielaSfregola commented on #140
Hi @vooolll,
I am honored twitter4s expired your project!

In my first implementation, I was using the same actor system for all the requests. This was ok, but it was exposing details to the API that people were struggling with.

At present, I spin up an actor system, make the request and shutdown the system (see [here](https://github.com/DanielaSfregola/twitter4s/blob/5759a40d631c1c47a6ab70b772f5

[2017-10-06 18:04] DanielaSfregola commented on #140
Issue #103 is a good reason to spin up an actor system every time: if not, the consumer of your API will have the responsibility of killing the actor system.

[2017-10-07 16:03] vooolll commented on #140
@DanielaSfregola Thank you. Seems like I look into right place.

[2017-10-07 16:03] #140 closed

[2017-10-09 23:00] bsamaripa commented on #137
Hi @DanielaSfregola, I'll take take this one. Since it would require a new github repo to be created, how should ownership be handled? I wouldn't mind transferring ownership once the initial version is complete.

[2017-10-10 07:34] DanielaSfregola commented on #137
Hi @bsamaripa, thanks for helping out!

I have just created a new repo for the giter8 twitter4s template: have a look at https://github.com/DanielaSfregola/twitter4s.g8

Cheers,
D.

[2017-10-15 07:51] allantl commented on #131
I got the same issue when trying to run the above code, stack trace:
[code]

[2017-10-15 07:52] allantl commented on #131
After some debugging, I found out that this is related to akka/akka-http#541.

[2017-10-15 07:56] DanielaSfregola commented on #131
Thanks @allantl, for the extra info...I'll try to have a look!

In the meanwhile, PRs are always welcome :)

Cheers,
D.

[2017-10-15 09:09] DanielaSfregola commented on #137
I have created the base of the template and setup travis. The only bit that is now actually missing is writing the actual twitter4s code.

[2017-10-15 09:45] #131 closed

[2017-10-16 05:09] nilsga commented on #57
Any update on this? I’m curious to see examples of this, involving real error handling.

[2017-10-16 05:36] DanielaSfregola commented on #57
Hi @nilsga,
I believe nobody is working on this at the moment at it is not a priority at the moment.

However, Feel free to give it a try and we will be happy to discuss it together...PRs are always welcome!

Cheers,
D.

[2017-10-16 07:02] nilsga commented on #57
Thanks for the response! I guess what I'm really asking here (which maybe should be asked elsewhere, but I couldn't find a forum or a chat), is how to approach error handling with this library. I did a short proof of concept, pushing tweets to Kinesis, and I noticed that the stream just stopped when an error occurred. I assume that since the library is based on Akka Streams, it also follow it's gu

[2017-10-16 08:15] DanielaSfregola commented on #57
Hi @nilsga,
since you asked for it I have just created a gitter channel for twitter4s (the link is in the README).

Could you please create another for this issue you encountered?
Depending if the error was caused by the Twitter Streaming API or Kenisis, It could be something to look at either as an improvement (i.e.: do not crash if something goes bad) or as a bug.

Cheers,
D.

[2017-10-16 08:31] nilsga opened #142 "Error handling for "external" errors"
When the tweet processing function encounters a non internal error, such as a database error, the stream halts without any information given. This is probably due to the default error handling strategy of Akka Streams, which stops the entire stream when an error is encountered, as described at https://doc.akka.io/docs/akka/current/scala/stream/stream-error.html. It should be possible to configure

[2017-10-16 08:52] DanielaSfregola commented on #57
Moved the discussion on error to issue #142

[2017-10-16 08:54] DanielaSfregola commented on #142
This would be a great improvement: we should change the twitter streaming so that it can survive errors unrelated to the streaming itself

[2017-10-16 08:57] #135 closed

[2017-10-16 09:08] DanielaSfregola opened #143 "Giter8 usage in README"
Follow up on #137: once the Giter8 template is ready we should have a section in the twitter4s readme with instructions on how to use it.

[2017-10-16 09:09] #137 closed

[2017-10-16 12:05] nilsga opened #144 "Not possible to get callback on stream completion"
In the event of an error that causes the stream to close, it does not seem to be a way to be notified about this, e.g. to shut the application down. The actual Future of the stream is "hidden" inside the `Future[TwitterStream]` that the streaming client exposes, so the only completion one is notified about is if the initial connect succeeds or fails. Neither does it seem to be any control messages

[2017-10-16 12:14] nilsga commented on #144
What I would like to do is something like:

[code]
But this does not work, since the future that is returned is the connection future, and not the stream future.

[2017-10-16 14:23] DanielaSfregola commented on #144
Hi @nilsga,
according to the specification of the Twitter Streaming API, once the streaming connection is open, it will never be closed unless requested from the consumer of the API: the stream is potentially infinite.

What you can do is closing or replacing an existing stream on demand: have a look at [this section](https://github.com/DanielaSfregola/twitter4s#close-or-replace-a-stream) of the d

[2017-10-16 14:25] nilsga commented on #144
That's true, but there are cases where the stream can fail, not related to the twitter api. For instance if the connection times out from the akka stream end, or there are errors processing the tweet itself. In these cases, it would be nice to be able to just shut down, instead of running with a halted flow.

[2017-10-16 14:25] allantl opened #145 "Gitter badge link returning page not found"
<img width="719" alt="screen shot 2017-10-16 at 22 23 44" src="https://user-images.githubusercontent.com/14335852/31617029-dd4f95ae-b2c0-11e7-962f-1b6686797892.png">

[2017-10-16 14:33] DanielaSfregola commented on #144
Interesting: I didn't think of that! At present, you cannot do it.

What about having the opportunity of specifying an "ErrorHandler" to specify what the stream should do depending on the exception thrown?

[2017-10-16 14:50] DanielaSfregola commented on #145
Thanks for the heads-up! It should be working now 👍

[2017-10-16 14:50] #145 closed

[2017-10-16 14:59] nilsga commented on #144
Maybe. The reason I added this in addition to https://github.com/DanielaSfregola/twitter4s/issues/142 was that I had a very low volume stream, and akka streams reached an idle timeout. Not sure how these low level "protocol" exceptions would propagate to the client.

[2017-10-16 15:30] DanielaSfregola opened #146 "Left over spray configuration"
https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/resources/reference.conf

....why do we have a spray configuration there?

[2017-10-16 20:57] mfirry commented on #71
- [ ] delimited
- [ ] stall_warnings
- [ ] filter_level
- [ ] language
- [ ] follow
- [ ] track
- [ ] locations
- [ ] count
- [ ] with
- [ ] replies
- [ ] stringify_friend_id

[2017-10-16 21:20] mfirry opened #147 "Implement Decahose stream"
https://developer.twitter.com/en/docs/tweets/sample-realtime/overview/decahose

[2017-10-16 21:21] mfirry opened #148 "Implement PowerTrack API"
https://developer.twitter.com/en/docs/tweets/filter-realtime/overview/powertrack-api

[2017-10-17 06:23] DanielaSfregola opened #149 "Update links for Twitter docs"
I have just discovered that Twitter has changed most of the links for its documentation.

We should double-check that the links in the twitter4s scaladoc are still pointing to the right pages.

[2017-10-17 06:34] DanielaSfregola commented on #149
List of all REST Clients docs:
- [ ] [TwitterAccountClient](http://danielasfregola.github.io/twitter4s/5.1/api/com/danielasfregola/twitter4s/http/clients/rest/account/TwitterAccountClient)
- [ ] [TwitterApplicationClient](http://danielasfregola.github.io/twitter4s/5.1/api/com/danielasfregola/twitter4s/http/clients/rest/application/TwitterApplicationClient)
- [ ] [TwitterBlockClient](http://daniela

[2017-10-17 06:55] mfirry commented on #146
Can I just remove it?

[2017-10-17 07:03] lapmid commented on #149
what i have to do in this issue exactly ?? actually newbie at open source contribution please explain

[2017-10-17 07:27] sammyrulez commented on #149
working on blocks and directmessages

[2017-10-17 07:28] DanielaSfregola commented on #149
Hi @lapmid, welcome to the magic world of opensource!

Let's take for example TwitterMuteClient: his scaladoc is [here](http://danielasfregola.github.io/twitter4s/5.1/api/com/danielasfregola/twitter4s/http/clients/rest/mutes/TwitterMuteClient), its code is [here](https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/rest/mutes/TwitterMut

[2017-10-17 07:39] DanielaSfregola commented on #146
yes, it is not used anymore -- it's a leftover of the first version of twitter4s that was initially implemented in spray :)

[2017-10-17 07:58] #146 closed

[2017-10-17 08:22] Ocete commented on #149
Starting to work on account client and application client

[2017-10-17 08:31] sammyrulez commented on #149
working on TwitterFavoriteClient and TwitterFollowerClient

[2017-10-17 08:33] Ocete commented on #149
Actually I just updated TwitterMuteClient

[2017-10-17 08:40] lapmid commented on #149
I have fixed links to TwitterAccountClient what should i do next

[2017-10-17 10:11] lapmid commented on #149
@DanielaSfregola Should I make commit Or PR for those files also which have all links working already

[2017-10-17 10:15] DanielaSfregola commented on #149
@lapmid is the links are already working, just put a comment in this issue saying that you reviewed the file and that all its links are already correct -- I'll mark it as done

[2017-10-17 10:16] lapmid commented on #149
Okay

[2017-10-17 14:11] allantl commented on #71
Hi @mfirry, are you working on this issue?
If not, I can take this one.

[2017-10-17 14:45] DanielaSfregola commented on #71
Note on `delimited` is used internally to consume the stream, probably I wouldn't expose it in our API. Feel free to disagree and to convince me otherwise! 👍

[2017-10-17 14:47] mfirry commented on #71
@allantl go ahead.

[2017-10-17 18:09] DanielaSfregola opened #161 "A few changes to the tweet structure"
We should make sure to reflect these changes in our code: https://developer.twitter.com/en/docs/tweets/tweet-updates

[2017-10-17 19:07] DanielaSfregola commented on #33
Closing as this page of the twitter documentation seems to be gone

[2017-10-17 19:07] #33 closed

[2017-10-21 09:51] nilsga commented on #148
+1. Support for enterprise features would be very nice!

[2017-10-24 08:34] DanielaSfregola commented on #149
All links have been updated! Thanks guys for your help!

[2017-10-24 08:34] #149 closed

[2017-10-24 10:06] tbje opened #168 "Source for use in stream flow?"
Hi, I might have missed something fundamental, but is it possible to get a Akka Stream Source instead of the client? The use case is to do some stream processing server side and then ship them to the front end using akka-http server sent events (SSE) where you provide need to provide a Source.

[2017-10-24 10:30] DanielaSfregola commented on #168
Hi @tbje,
unfortunately, it is not possible. This was done on purpose, to hide lots and lots implementation details that are not actually needed in order to use the Twitter Streaming API.

All you can do is define what processing you'd like to do for a specific type of message.

Cheers,
D.

[2017-10-24 11:08] tbje commented on #168
Thanks for the clarification @DanielaSfregola :+1:

[2017-10-24 11:15] tbje commented on #168
For anyone else wanting something similar: this repo helped me understand howto create a source and hooking it up with the client: [https://github.com/calvinlfer/Akka-Streams-custom-stream-processing-examples](https://github.com/calvinlfer/Akka-Streams-custom-stream-processing-examples)

[2017-10-24 14:43] #130 closed

[2017-10-24 14:50] DanielaSfregola opened #169 "Streaming: locations filter fix"
This discussion follows PR #165 --- original discussion is [here](https://github.com/DanielaSfregola/twitter4s/pull/165#discussion_r146580205). I am gonna copy the relevant messages and continue the discussion here

[2017-10-24 14:52] DanielaSfregola commented on #169
@DanielaSfregola was saying:

Probably we should use a case class here rather than simple tuples....but how should we call it? we already have a case class Location (that is quite different) and used in the REST Client

[2017-10-24 14:53] DanielaSfregola commented on #169
@allantl was saying:

There are some improvements that can be made here. Looking at the official twitter java client which is quite outdated [here](https://github.com/twitter/hbc/blob/master/hbc-core/src/main/java/com/twitter/hbc/core/endpoint/Location.java), seems that each bounding box location must be in the form of (southwest coordinate, northeast coordinate).

We can create case classes simil

[2017-10-24 14:54] DanielaSfregola commented on #169
@DanielaSfregola was saying:

I wouldn't worry too much about breaking changes: as long as we document them and that they are done with reason, then people are gonna be fine with it. The problem is that we need to do them, bump up the version and properly document them.

We have a few requests already that we know are probably gonna need API breaking changes, for example see #142 and #144.

I am g

[2017-10-26 15:08] Gaarv commented on #138
I will look into it tomorrow. I would vote for keeping scalalogging as doesnt get in the way of any akka log configuration and easy to setup with logback.

- [ ] Unify logs
- [ ] ability to change log level easily
- [ ] update twitter4s-demo

logback.xml was added to twitter4s.g8, so that will be the opportunity to add it in twitter4s-demo and explain the usage.

[2017-10-26 15:16] DanielaSfregola commented on #138
Thanks @Gaarv! I think it is a great idea 👍

[2017-10-28 16:02] DanielaSfregola commented on #143
Completed by #170. Closing

[2017-10-28 16:02] #143 closed

[2017-10-28 16:29] DanielaSfregola opened #173 "Idea: Twitter4s website?"
The README is quite long ...maybe we should have a proper website for the library!

[2017-10-28 17:02] DanielaSfregola commented on #138
Completed by #172, closing

[2017-10-28 17:02] #138 closed

[2017-10-28 17:35] #169 closed

[2017-10-31 20:42] Koalk opened #174 "Issues encoding operators in GET search"
Hi, appreciate the library you've built here. Has help me a lot.

I was trying to execute a search for tweets mentioning an url (using the "url:" operator in the query) but it seems like the encoding goes wrong at some point:
Query string I pass to the library: "url:https://github.com/ReactiveX/RxJava"
Query comming back in the search metadata: "url%253Ahttps%253A%252F%252Fgithub.com%252FReactiveX

[2017-11-02 14:08] #107 closed

[2017-11-02 14:26] DanielaSfregola opened #176 "Deprecated API on direct messages"
Deprecated API on direct messages, are we affected?

See https://twitter.com/TwitterAPI/status/925784511182278656

[2017-11-03 22:11] eperinan commented on #58
Feel to free to assign to me as I said you before in workshop in Scala.io  @DanielaSfregola.

[2017-11-06 16:19] #71 closed

[2017-11-08 11:04] vooolll opened #177 "Replace `java.util.Date` with `java.time.Instant`"
According to https://docs.oracle.com/javase/tutorial/datetime/iso/legacy.html, it is better to use `Instant` instead of `java.util.Date`.

[2017-11-08 14:40] DanielaSfregola commented on #177
Hi @vooolll,
thanks for your suggestion. Could you please elaborate on why `Instant` should be better than `Date`?

I had a very quick look at the link you posted and they explicitly say they are equivalent, but from my point of view `Date` is more human-friendly than `Instant`.

That being said, I am happy to listen to your arguments on why we should have a breaking change in our API in favor of

[2017-11-08 14:56] DanielaSfregola commented on #177
Had another look at the article and you might be right: they suggest to use `java.time` package rather than `java.util`.

However, I have concerns about JDK7: if we make this breaking, I am afraid we will need to drop the support for JDK7.

WDYT?

[2017-11-08 15:54] vooolll commented on #177
As I saw you don't build it against jdk7 on travis, but if keeping jdk7 support is important then no need to change it `Date` to `Instant`.

[2017-11-08 16:01] vooolll commented on #177
Probably you need to build `twitter4s` with both jdk7, jdk8, to see incompatibility problems

[2017-11-08 20:59] DanielaSfregola commented on #168
Reopening as it would be good to have, so we can do it at the next iteration since we are already introducing breaking changes.

[2017-11-08 21:50] DanielaSfregola commented on #177
I have updated travis to build on JDK 7.

Unfortunately, I am afraid we need to reject this suggestion as we do not want to drop support for JDK 7 -- at least not for now!

Cheers and thanks for the constructive discussion!
D.

[2017-11-09 02:12] niij commented on #168
@tbje so were you able to get a Stream Source hooked up to the Twitter Client? Do you have a code sample of this?

[2017-11-09 05:09] niij commented on #168
Thanks @tbje I ended up getting it wired up used instructions from here: https://doc.akka.io/docs/akka-stream-and-http-experimental/1.0-RC3/scala/stream-integrations.html

Looking forward to having Streams properly working in 6.0.  Thanks for the helpful project @DanielaSfregola

[2017-11-28 10:31] broilogabriel opened #181 "Add support to video_info from Media object."
I have to collect information about the video duration from the video_info object that is sent as part of the media object.
At the moment there is no support for that so the field is being ignored in the Serialization/Deserialization process.

[2017-11-28 12:42] #181 closed

[2017-12-03 19:35] catalin-ursachi commented on #109
Would be happy to contribute. 🙂 I'm not sure which entities it refers to, or what kind of serialization/deserialization would be covered?

[2018-01-03 10:54] DanielaSfregola commented on #177
Reopening as we are going to drop JDK 7 in the next major release. A good excuse to probably change the date type here!

[2018-01-07 14:09] shiv4nsh opened #185 "Use of external Actor System in the library"
When I am trying to create a TwitterRestClient it makes its own ActorSystem and I have already made one actor system for my app. Is there a way in which the internal actor system can be override i.e it will use the external actor system that is provided if not then it can create one for itself.

[2018-01-07 15:05] DanielaSfregola commented on #185
Hi @shiv4nsh,
with the current implementation this is not possible.

This has been done intentionally to simplify the use of the library and making sure operations like stopping the actor system when needed (not too soon, not too late) are done automatically without leaks in the API: the first version of twitter4s was using an external Actor System, causing lots of errors related to the actor syst

[2018-01-07 15:49] shiv4nsh commented on #185
I am trying to build an application where I am building my own Actor System,(pretty basic Scenario).
I run this app on my laptop it works ok ! But When I deploy it on Heroku , within seconds it crashes with this error:
`2018-01-07T15:44:08.192109+00:00 app[web.1]: Uncaught error from thread [twitter4s-rest-bea6326a-21bf-41ec-a239-2de7c58431ab-akka.actor.default-dispatcher-4]: unable to create new

[2018-01-07 15:52] DanielaSfregola commented on #185
Which version of twitter4s are you using?

[2018-01-07 15:58] shiv4nsh commented on #185
I am using : 5.4-Snapshot

[2018-01-07 16:09] DanielaSfregola commented on #185
Ok thanks!

Every time twitter4s does a request, it should create an actor system, it should use it to perform the request and then close it. Unfortunately, we do need to create an actor system because of the way akka http works.

Twitter4s shouldn't leave any actor system hanging around - every time it creates one it should always close it. Unless there is a bug where twitter4s forgets to close a

[2018-01-07 16:13] shiv4nsh commented on #185
Don't you think it is wrong . As it will create and close everytime it fires a request ?
Akka Docs states that Creation of Actor System is a very heavy process ?

[2018-01-07 16:20] DanielaSfregola commented on #185
I agree, creating a new Actor System is expensive -- but this is how it currently works.

We could change the implementation and have 1 internal actor system shared for all the requests, but then there are other issues like the followings: when do you create it? when do you stop it? or does it run forever?

I am absolutely open to discussions and, in particular, PRs are always welcome.

[2018-01-07 16:23] DanielaSfregola commented on #185
You could argue that is you use an external actor system you do not have any of these problems: the consumer of the API takes care of creating it and destroying it...

Maybe we could support both....?

[2018-01-07 16:29] DanielaSfregola commented on #185
Eureka! I have an idea -- thanks for the useful brainstorming and discussion!

I'll see if I can find some time next week to write down some notes - feel free to give it a try...PRs are always welcome!

[2018-01-12 11:27] smrnv commented on #102
Hi @DanielaSfregola , in the new response there are some new fields in the Tweet object if we search with ```tweet_mode=extended``` param. Here they are: ```full_text``` and ```display_text_range```. But there is no ```text``` field. Should I create a custom mapper and place ```full_text``` value in the ```text``` for backward compatibility?

[2018-01-12 11:36] DanielaSfregola commented on #102
Hi @smrnv, I think it is a great idea - I was expecting `tweet_mode=extended` to just return the `text` field with the whole text in it.

What kind of information is included in `display_text_range`? I am wondering if we should add `full_text` and `display_text_range` to our Tweet case class for completeness even if we replace the content of `text`. Note that adding fields is not a breaking change

[2018-01-12 11:44] smrnv commented on #102
I suppose ```display_text_range``` contains info about ```full_text```. It looks like
[code]
I think normally first value is always 0 and the last one is the last number of text symbol, so it represents a tweet text length.

[2018-01-12 11:55] smrnv commented on #102
My suggestion is: ```case class Tweet``` can become a trait with the same fields as it now and there will be two case classes with Tweet mixin:  ```ExtendedTweet extends Tweet``` for the extended mode and ```ClassicalTweet extends Tweet``` for the usual mode. So ```TwitterSearchClient.searchTweet``` will return a ```trait Tweet```. I don't think that many of users use current Tweet case class in p

[2018-01-12 12:04] DanielaSfregola commented on #102
I think we do not need a sum type here - plus it would be a major breaking change. We can simply have the following:
[code]

....and document that full_text and display_text_range fields are there only for expanded tweets - which I believe is consistent with the twitter docs.

[2018-01-12 21:29] smrnv commented on #185
Hi, I think we can have implicit abstract method of ActorSystem type in the TwitterSearchClient. So we can create instance of TwitterSearchClient and pass external actor system in it, or instantiate an actor system in it.

[2018-01-13 11:58] DanielaSfregola commented on #20
1.5 years and half later we have indeed upgraded to Akka-Http! Time to add scalafmt!

We should:
- add the formatter - no need to do it automatically in compilation
- add a test on CI that blocks the build if formatting is not quite right

{ TIP: find a well-established project to copy the configs }

[2018-01-24 17:44] bmc opened #188 "Encoding of parameters incorrect"
With the `TwitterStreamingClient` (v 5.3 of the library), the following code:

[code]

results in the following URL (as logged at INFO level):

[code]

It's the `BodyEncoder.toBodyAsEncodedParams` call (as invoked by `Parameters.toString` that's the issue. It just calls `toString` on the sequence of `Language` elements.

[2018-01-24 20:31] bmc commented on #188
(It's not clear to me that the Twitter streaming API supports multiple languages.)

[2018-01-28 11:24] DanielaSfregola commented on #188
Thanks for reporting this bug @bmc!

We'll try to have a look, in the meanwhile PR are always welcome. It seems like you already have identified the issue ;)

[2018-01-28 11:25] DanielaSfregola opened #190 "Dedicated tests for query parameters"
This PR has introduced some super useful tests: we should make sure that all our parameters have these dedicated tests!

see https://github.com/DanielaSfregola/twitter4s/pull/186/files#diff-1a0b3b8e9896b16ad8699b42accbbd6bR6

[2018-01-28 12:10] DanielaSfregola opened #191 "Error when running the tests multiple times in SBT console"
[TESTs ONLY] I could be that we do not close actor systems when we run the tests.

On my local machine I can replicate as follows:
- run sbt console (sbt)
- test (a few times)
- After a while the JVM gives up:

[code]

[2018-01-28 13:22] DanielaSfregola opened #193 "Upgrade to SBT 1.1.0"
...time to upgrade to SBT 1.1.0!

[2018-01-28 13:24] DanielaSfregola opened #194 "New Direct Message API announcement - actions to take?"
.....is this something we should take action on?

https://twittercommunity.com/t/new-direct-message-api-features-now-available-to-all/98733

If so, create issues accordingly.

NOTE: this ticket is just about investigating if and what we have to do, not the actual implementation.

[2018-01-28 13:25] #20 closed

[2018-01-28 17:11] bmc commented on #188
Was using your API for some work-related stuff. After I get past this deadline, I plan to look into submitting a PR. Right now, ENOTIME, I'm afraid...

[2018-01-28 17:59] #102 closed

[2018-02-06 02:49] apuckey opened #195 "Add ability to supply custom transport for akka http to support tunneling proxy"
in this class: https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/CommonClient.scala#L21

I would like to be able to either:

supply a custom clientransport to use with Http().outgoingConnectionUsingTransport() instead of the other 2 it currently uses.

or the ability to override the Client trait to be able to add it to the twittercli

[2018-02-06 09:00] DanielaSfregola commented on #195
HI @apuckey,
did you consider the existing proxy support? Have a look at https://github.com/DanielaSfregola/twitter4s#proxy-support

But yeah, I agree that allowing you to override the client transport would allow you to do a lot more

[2018-02-06 10:10] apuckey commented on #195
Thanks for getting back to me :)

I did see that you can change the domain but unfortunately thats not going to work in our system :) I ended up overriding some classes in the same namespace to make it work for now :)

[2018-02-06 10:13] DanielaSfregola commented on #195
Thanks for clarifying!

We'll change our implementation to allow you to this!

In the meanwhile, PRs are always welcome ;)

[2018-02-06 14:59] MTRNord opened #196 "Unable to get information via getTweet()"
Hi I can do whatever I want but I just cant get anything returned on getTweet. There are some things but things like id, text, retweet_count, favorite_count are empty. Any Ideas how I could debug it? doing a toString on the data gives some output but the just named fields are also empty in there. No matter how I call it and which ID I use

[2018-02-06 15:05] DanielaSfregola commented on #196
Hi @MTRNord,
- which version of twitter4s are you using
- can you show us an example of how you are using the client?

Thanks,
Daniela

[2018-02-06 15:12] MTRNord commented on #196
Hi I use the version "5.5-SNAPSHOT"

Here is a broken down example if what I do:

[code]

[2018-02-06 16:29] MTRNord commented on #196
I also now tried with "6.0-SNAPSHOT" but same problem. No data in the Repsone object

[2018-02-06 16:29] DanielaSfregola commented on #196
What happens if you do the following?

[code]

[2018-02-06 16:40] MTRNord commented on #196
It returns "ok". No error spotted in the logs

[2018-02-06 16:44] DanielaSfregola commented on #196
Can you please tell me what you see when doing this:

[code]

[2018-02-06 16:45] MTRNord commented on #196
The response is:
[code]

[2018-02-06 17:04] DanielaSfregola commented on #196
Hi @MTRNord,
in the response you provided you can see that the fields of the tweets are populated as expected (see for example the text of the tweet `@nadjagolitschek @kraulekrankzahn Genau das!`).

twitter4s is behaving as expected. If you do the following you should see the values of the tweet:

[code]
I get the following response:
[code]

Maybe it is something to do with the logger you are usin

[2018-02-06 17:07] MTRNord commented on #196
Oh the question gave me the hint :/ Apperently it doesn't work using "StrictLogging" as logger. I am pretty new to scala. Would LazyLogging do the trick? (instead of using println)

[2018-02-06 17:10] #196 closed

[2018-02-06 17:10] MTRNord commented on #196
Oh and thanks for taking the time for helping me finding my error

[2018-02-06 17:13] DanielaSfregola commented on #196
I would try with `LazyLogging` -- I used `println` only because it was quicker for me to try!
We do have an [example in twitter4s-demo](https://github.com/DanielaSfregola/twitter4s-demo/blob/298c85b3a86dad236992c1bc111e394a9ed950d0/src/main/scala/streaming/StreamingWithLogging.scala) were we use LazyLogging -- feel free to have a look

Happy I could help!

Cheers,
Daniela

[2018-02-06 17:14] MTRNord commented on #196
Yes I saw the Demo :) I just tried LazyLogging and that also have the same problem apparently. I will search on google why that could happen :)

[2018-02-06 17:21] MTRNord commented on #196
Ok if someone else makes the same misstake: doing `logger.info("Something: ", somevar)` fails but doesn't tell you that it does. Using `logger.info(a"Something: $somevar")` does the trick :)

[2018-02-08 05:22] bignacio opened #197 "KillerSwitch returned before failure and error handling"
Hello,

I'm trying to implement a backoff/reconnect when calling `filterStatuses` but I'm having trouble finding the right place for the error handling code.

I found the future returned by `filterStatuses` not always contains a `Failure` (in `onComplete`) even though a 420 has been thrown.
But sometimes it does.

Thanks

[2018-02-08 08:55] DanielaSfregola commented on #197
Hi @bignacio,
unfortunately, this is not currently supported by twitter4s but it has been in our backlog for a while.

Similar issue (but not quite the same): https://github.com/DanielaSfregola/twitter4s/issues/142

I'll add it to the roadmap, as this seems like an important issue to solve -- unfortunately, it involves quite a bit of redesigning of how streaming works.

In the meanwhile, feel free

[2018-02-08 09:01] DanielaSfregola commented on #197
[Note]

This may actually just be a bug, probably caused by https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/streaming/StreamingClient.scala#L45

It may be easier to fix by either increasing the timeout (maybe make it configurable) or by simply find a better way of doing this!

[2018-02-11 14:23] #197 closed

[2018-02-11 15:03] DanielaSfregola commented on #197
Hi @bignacio,
I have published a fix for the issue related to the killSwitch returning too soon on twitter4s 5.5-SNAPSHOT -- soon (less than a week?) to be twitter4s 5.5.

For the issue related to the inability to properly do error handling, please keep an eye on #142 -- hopefully we will add this functionality soon!

Cheers,
Daniela

[2018-02-12 03:31] bignacio commented on #197
Fantastic, thank you Daniela!

[2018-02-13 13:36] broilogabriel opened #199 "sbt-git not working on Windows machines"
Just for the record in case someone face the same issue.

I'm having problems to build the project with the following setup: Intellij 2017.3.4 + Windows 10

It seems the issue is caused due some problems with sbt-git (https://github.com/sbt/sbt-git/issues/100). The stacktrace displayed in Intellij is:

[code]

To be able to work I disabled the plugin in my local since I have no choice of OS for no

[2018-02-13 13:59] DanielaSfregola commented on #199
Thanks @broilogabriel for reporting the issue!

[2018-02-13 15:36] broilogabriel opened #200 "Replace LookupTweet by Tweet object"
With the latest changes in Twitter Api is possible to use the same tweet object for the lookup endpoint.

The changes and the new data format can be found in the documentation in this link: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object

[2018-02-13 15:44] broilogabriel opened #201 "Add tweet_mode parameter in TwitterStatusClient.tweetLookup"
The new parameter to enable tweet_mode extended for statuses/lookup.json endpoint in witterStatusClient.tweetLookup is missing to enable full_text and fix some expanded urls.

[2018-02-13 17:38] #200 closed

[2018-02-13 17:39] DanielaSfregola commented on #193
Done in 1e23d3934b5ba7dfa1ab650012048a9d89a2e520

[2018-02-13 17:39] #193 closed

[2018-02-14 10:48] #201 closed

[2018-02-16 18:52] #174 closed

[2018-02-16 19:17] #188 closed

[2018-02-18 12:11] #161 closed

[2018-02-19 11:12] DanielaSfregola opened #207 "Block Client Constructor"
People should no longer be able to do `new TwitterClient(..., ...)` now that the actor system is exposed (see #185 ).

Force people to use the apply function.

[2018-02-19 12:24] #185 closed

[2018-02-19 14:01] #191 closed

[2018-02-19 17:19] DanielaSfregola commented on #185
Change released in `twitter4s 5.5`: we now have 1 actor system per client, rather than 1 actor system started and stopped per request.

You can now attach an existing actor system using the following:
[code]

Also, you can shutdown an actor system associated to a client with the function `shutdown`

[2018-02-19 17:19] DanielaSfregola commented on #188
Fix released in twitter4s 5.5

[2018-02-19 17:19] DanielaSfregola commented on #174
Fix released in twitter4s 5.5

[2018-02-19 17:20] DanielaSfregola commented on #197
Released in twitter4s 5.5 -- now ready for you in maven central!

[2018-02-19 21:52] #177 closed

[2018-02-19 22:12] #207 closed

[2018-03-16 08:15] DanielaSfregola opened #212 "Make retries configurable"
Following PR ???, `processBody` retries 3 times before giving up.

- Make the retrial configurable from a classic config file
- Properly test the processBody function

[2018-03-16 09:23] yoo-haemin opened #214 "Pattern matching only on Lists, but value is type of Seq"
See:

https://github.com/DanielaSfregola/twitter4s/blob/16bcf736c169f5bd9c81a5be354d61678f6d468c/src/main/scala/com/danielasfregola/twitter4s/http/clients/rest/statuses/parameters/OEmbedParameters.scala#L15

https://github.com/DanielaSfregola/twitter4s/blob/16bcf736c169f5bd9c81a5be354d61678f6d468c/src/main/scala/com/danielasfregola/twitter4s/http/marshalling/BodyEncoder.scala#L30

[2018-03-23 10:05] #190 closed

[2018-03-23 10:05] #214 closed

[2018-03-23 10:28] DanielaSfregola opened #217 "Missing tweet_mode extended"
It seems like in we forgot to add support for `tweet_mode` extended.

List of missing endpoints found so far:
- all `tweetLookup` methods (we have done only one!)

Please, comment here if you notice other endpoints missing.

Cheers,
Daniela

[2018-04-05 03:03] aron-bordin commented on #217
Hi!
Looks like it is not supported in streams ...
Is there a simple workaround?

[2018-04-05 08:27] DanielaSfregola commented on #217
Hi @aron-bordin,
I wasn't aware streams should support tweet_mode -- but I guess it makes lots of sense! Do you have by any chance the link to the streaming API documentation discussing this? I'll assume for now that all the streaming endpoints need the support for tweet_mode.

Unfortunately, there is no workaround....we just need to change the code. The code change is pretty simple, so it shouldn

[2018-04-05 11:41] aron-bordin commented on #217
They describe it here: https://developer.twitter.com/en/docs/tweets/tweet-updates that streaming also supports extended mode.

It's not documented here: https://developer.twitter.com/en/docs/tweets/filter-realtime/api-reference/post-statuses-filter.html looks like they have missed.

I wrote a python script to test and just added ``tweet_mode=extended`` to filter.json URL and got it working.

[2018-04-07 13:51] DanielaSfregola opened #218 "Apps of a Feather"
Apparently Twitter is planning to kill the streaming APIs....WHAT????

This is probably going to affect us -- although apparently it seems like the breaking change has been delayed.

More info at http://apps-of-a-feather.com/

[2018-04-14 14:01] aron-bordin commented on #82
My stream is stopping after a few minutes. I edited https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/streaming/ErrorHandler.scala#L5 to display the error, and I'm getting:

do you know what is wrong?

[2018-04-14 14:12] DanielaSfregola commented on #82
@aron-bordin could you please open a new issue? Also, it would be great if you could include a representative fragment of your code.

[2018-04-20 09:19] DanielaSfregola opened #219 "HappinessPackets.io"
Promote it on README?

see https://www.happinesspackets.io

[2018-05-29 07:48] borsik commented on #194
https://developer.twitter.com/en/docs/direct-messages/sending-and-receiving/guides/direct-message-migration.html

[2018-05-29 11:46] DanielaSfregola opened #221 "Streaming: Hashtags in OR rather than in AND"
This came from a discussion on Gitter:

[code]

[2018-05-30 13:05] DanielaSfregola commented on #221
You can indeed! By concatenating tracks using spaces instead of commas.

See https://developer.twitter.com/en/docs/tweets/filter-realtime/guides/basic-stream-parameters#track

[2018-05-30 13:17] wzorgdrager commented on #221
I think it is the other way around if I read the docs.
` By this model, you can think of commas as logical ORs, while spaces are equivalent to logical ANDs (e.g. ‘the twitter’ is the AND twitter, and ‘the,twitter’ is the OR twitter).`
So that means you would support OR by default, while AND is also implicitly supported (just add one string with spaces)

[2018-05-30 13:21] DanielaSfregola commented on #221
Thanks @wzorgdrager! You are absolutely right -- I've fixed my comment.

NOTE: Currently we use Seq[String] that is then converted to comma-separated list. So maybe all we need is just better scaladoc to clarify this difference....

[2018-06-04 09:36] wzorgdrager opened #223 "Update json4s"
Your current version runs on json4s version `3.5.3` (see [here](https://github.com/DanielaSfregola/twitter4s/blob/dc3e35c67dbf3cbe2010336af48d1df319e4dc43/build.sbt#L21)) json4s is already on version [`3.6.0-M4`](https://mvnrepository.com/artifact/org.json4s/json4s-core_2.12/3.6.0-M4). It gives me conflicts when I both use twitter4s and json4s as dependency in my project. Maybe json4s can be updat

[2018-06-04 16:36] DanielaSfregola commented on #223
Hi @wzorgdrager,
I am not sure if an `-M*` version (which I believe stands for `milestone`) is stable enough for us to upgrade the library.

I believe the current latest stable version of json4s is 3.5.4 (published in May 2018).

[2018-06-06 23:26] MikeyCald opened #224 "AbstractMethodError when initializing a Twitter RestClient"
Reached a massive block when initializing a Rest Client inside of a Spark-job.

Exception in thread "main" java.lang.AbstractMethodError: com.danielasfregola.twitter4s.http.serializers.JsonSupport$$anon$1.org$json4s$DefaultFormats$_setter_$strict_$eq(Z)V
	at org.json4s.DefaultFormats$class.$init$(Formats.scala:329)
	at com.danielasfregola.twitter4s.http.serializers.JsonSupport$$anon$1.<init>(JsonS

[2018-06-07 22:07] MikeyCald commented on #224
Problem resolved , a json4s version conflict was present. My Uber Jar included Spark 2.3.0 which includes json4s:3.2.11. Solved by shading with assembly plugin.

assemblyShadeRules in assembly := Seq(
  ShadeRule.rename("org.json4s.**" -> "shaded.json4s.@1").inAll
)

[2018-06-08 16:01] DanielaSfregola commented on #224
Hi @MikeyCald,
I am glad you solved it!

Closing the ticket

[2018-06-08 16:01] #224 closed

[2018-06-11 08:39] wzorgdrager commented on #223
You're right. We will downgrade our version to a stable one.

[2018-06-11 08:39] #223 closed

[2018-06-11 08:44] wzorgdrager opened #225 "Akka conflict in Flink environment"
Hi,

I'm currently running a Twitter4s application in a [Flink](https://flink.apache.org/) cluster.
And I'm running into the following error:
[code]

Basically what my application does:
1. Retrieve trending topics.
2. Start statuses stream and filter on trending topics.
3. Repeat this every 15 minutes.

Here some snippets of my code:
[code]

And the `startStream` method:
[code]

I think this error

[2018-06-12 08:05] wzorgdrager commented on #225
Update: what I tried now is to 'shade' akka in the twitter4s library into an alternative package with the following lines in my build:

[code]

The shading works fine, but I then run into the following runtime error:
[code]

Hope you can help.

[2018-07-31 07:02] DanielaSfregola commented on #225
My apologies for the late reply.

It seems that it is having problems creating the ActorSystem...? At least, this is my best guess. What happens if you use the function `withActorSystem` and you pass the actor system as a parameter?

Regards,
D.

[2018-08-05 18:45] Touzen opened #226 "Streaming statuses by ID breaks when data is fetched from Slick"
Hi,

I have a list of Twitter users in a database and I'm building an application to follow these users and process their tweets. In doing this I seem to have encountered a bug that allows me to follow the users if the Seq[Long] of IDs is hard-coded, but not if I get it from a database which I connect to using Slick. In that case I get a 406 error and a message that I have provided unparseable ite

[2018-08-05 19:06] Touzen commented on #226
I re-wrote the code to use Quill instead of Slick to access the database which solved the issue. So the bug seems to be specific to Slick.

[2018-08-15 12:22] bogdalb opened #227 "Some used methods for working with direct messages will be deprecated since 16.08.2018"
https://developer.twitter.com/en/docs/direct-messages/sending-and-receiving/guides/direct-message-migration.html

[2018-08-15 20:07] DanielaSfregola commented on #227
Hi @nadgoboa,
thanks for reporting this!

Cheers,
Daniela

[2018-08-15 20:08] DanielaSfregola commented on #226
Thanks @Touzen!

I'll close the ticket

[2018-08-15 20:09] #226 closed

[2018-08-23 01:37] akiomik opened #228 "Rate Information expected but not found"
Hi, I encountered the following error:

[code]

My scala version is 2.11.7, and twitter4s version is 5.3.

[2018-09-21 06:13] MingmingYue commented on #17
"org.json4s" % "json4s-mongo_2.11" % "3.6.1"
This problem will still occur when fetching data from mongodb 。

[2018-09-21 14:29] mitgard commented on #227
@DanielaSfregola At now some direct messages api retired.
When you update library?

[2018-10-03 13:07] mfirry opened #230 "Site Streams and User Streams api retired."
I've only found out from [here](https://github.com/twitter/hbc/blob/master/README.md) that apparently Twitter retired some of the streaming api.

More info can be found [here](https://twittercommunity.com/t/reminder-site-streams-user-streams-and-legacy-dm-endpoints-will-be-sunset-august-16th/109482).

I'd say let's use this issue to track what needs to be changed/removed.

[Here is a migration gui

[2018-10-23 23:05] nashid opened #231 "Add microsite"
I think adding this would be cool

https://47deg.github.io/sbt-microsites/

[2018-10-23 23:06] nashid commented on #231
I can work on it 👍

[2018-10-23 23:13] DanielaSfregola commented on #231
Thanks @nashid.
(issue is potentially a duplicate of #173)

[2018-10-24 08:48] nashid commented on #173
@DanielaSfregola I will work on it 👍

[2018-12-01 12:45] DanielaSfregola commented on #194
New endpoint added - a part for new endpoint to delete messages -- for which I am going to create a new ticket.

Closing this one

[2018-12-01 12:45] #194 closed

[2018-12-01 12:46] DanielaSfregola opened #233 "New endpoint to delete direct messages"
We need to support this endpoint: https://developer.twitter.com/en/docs/direct-messages/sending-and-receiving/api-reference/delete-message-event

[2018-12-01 12:47] DanielaSfregola opened #234 "Direct Messages with Attachments and Media"
We should support the creation of direct messages with attachments and media, see https://developer.twitter.com/en/docs/direct-messages/message-attachments/guides/attaching-media

[2018-12-01 12:49] DanielaSfregola commented on #227
Some details are missing, like the new endpoint to destroy messages (#233 ) and the support for attachments (#234 ).

But overall, the new endpoints have been added in twitter4s 6.0 (soon to be released!)

[2018-12-01 12:49] DanielaSfregola commented on #176
Done as part of #229

[2018-12-01 12:49] #176 closed

[2019-01-19 14:17] polyzos opened #235 "DNS Log Spam"
For some reason i get my logs polluted with this warning .. any ideas why?

[code]

[2019-01-20 10:09] DanielaSfregola commented on #235
Hi @polyzos,
I haven't seen this happening before. Have you tried asking the Akka HTTP support fellas?

Cheers,
Daniela

[2019-01-21 11:10] mitgard commented on #227
Hi, @DanielaSfregola . Can you need a help with release new version twitter4s? Spend a lot of time from "soon".

[2019-01-21 18:07] DanielaSfregola commented on #227
Hi @mitgard,
I'll try to do a release this weekend. In the meanwhile, please consider using 6.0-SNAPSHOT.

Regards,
Daniela

[2019-01-26 11:59] wzorgdrager commented on #225
Yes, you're right on that. We resolved this back then by downgrading some versions of dependencies we were using. However, in the long run that isn't really a good solution.

[2019-02-19 08:17] m1993afshar opened #236 "Rate Information expected but not found"
Hi, I encountered the following error:

com.danielasfregola.twitter4s.exceptions.TwitterException: [500 Internal Server Error] Rate Information expected but not found.

Please report it at https://github.com/DanielaSfregola/twitter4s/issues/new
Headers names were: cache-control, content-disposition, date, expires, last-modified, pragma, server, set-cookie, set-cookie, set-cookie, status, strict-tr

[2019-02-19 08:21] DanielaSfregola commented on #236
Thank @m1993afshar !
Do you also have a stack trace? Do you know which functionality of twitter4s triggered the exception?

Cheers,
D.

[2019-02-19 08:46] m1993afshar commented on #236
You're welcome.
I use ``` userTimelineForUserId() ``` function.
Thanks.

[2019-02-19 11:43] rtyley opened #237 "Support for Application-only ('bearer') authentication for higher quota limits"
The Twitter API [offers applications the ability to issue authenticated requests on behalf of the application itself](https://developer.twitter.com/en/docs/basics/authentication/overview/application-only.html) (as opposed to on behalf of a specific user) - these requests are authenticated using _bearer_ tokens and **often have much higher API quota limits** (eg on the [search tweets](https://devel

[2019-02-19 15:38] rtyley commented on #237
Here's a gist showing end-users how they can hack support for Application-only ('bearer') authentication on top of `twitter4s`: https://gist.github.com/rtyley/dc341992a6104f4b499834fd2d10dfad

You can then create a new `new AppOnlyAuthentication.TwitterRestClient(twitterConsumerToken)` quite easily.

...I can probably find time to hack this a bit further into a proper PR if there's interest?

[2019-02-20 06:46] DanielaSfregola commented on #237
Thank @rtyley, PRs are always appreciated!

Also, in twitter4s 6.0 we will have a client dedicated for app authentication -- it is probably what you are looking for: https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/TwitterAuthenticationClient.scala

I'll try to cut the release version 6.0 -- people have been asking for its release for a while no

[2019-02-20 09:03] rtyley commented on #237
ooh, interesting - I was looking at the code around the new `TwitterAuthenticationClient` but I can't see where it hits the [`oauth2/token`](https://developer.twitter.com/en/docs/basics/authentication/api-reference/token) endpoint? I guess that's the part that isn't implemented yet?

[2019-02-20 09:13] DanielaSfregola commented on #237
Correct! If you see https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/authentication/oauth/TwitterOAuthClient.scala you will see the endpoints for `oauth` authentication have been implemented: `oauth2` ones are still missing.

Maybe all we need to do is to expand the soon-to-be-released `TwitterAuthenticationClient` to deal with `oau

[2019-03-15 16:55] rtyley opened #238 "Release v6.0"
Could you release v6.0? PR #220 merged the 6.0 branch into master in April 2018, and I [hear](https://github.com/DanielaSfregola/twitter4s/issues/237#issuecomment-465447462) people have been asking for it!

![image](https://user-images.githubusercontent.com/52038/54448205-127be080-4743-11e9-869e-4f544bda574c.png)

_(my particular interest in 6.0 is f6f174ec2, providing `tweet_mode` for `tweetLooku

[2019-03-15 16:57] DanielaSfregola commented on #238
You are absolutely right - I have been delaying this release for too long!
Let me do it right now. I'll update this issue once the release is complete.

[2019-03-15 17:41] DanielaSfregola commented on #238
Hi @rtyley,
the release for 6.0 has been completed (twitter announcement coming in the next few minutes)! I have published to sonatype and it should be synced to maven central soon.

Thanks for your patience and for the polite reminder! ;)
Daniela

[2019-03-15 17:42] DanielaSfregola commented on #238
(waiting for the release to be in maven central before closing...)

[2019-03-15 17:44] DanielaSfregola commented on #227
Hi @mitgard, I have now released twitter4s 6.0 - it's on its way to maven central!

Regards,
Daniela

[2019-03-15 17:45] DanielaSfregola commented on #235
Closing for now, please reopen if needed

[2019-03-15 17:45] #235 closed

[2019-03-15 17:45] DanielaSfregola commented on #228
Closing this as duplicate of https://github.com/DanielaSfregola/twitter4s/issues/236

[2019-03-15 17:45] #228 closed

[2019-03-15 17:52] DanielaSfregola commented on #238
YEAHHH! It's now in maven central -- closing

[2019-03-15 17:52] #238 closed

[2019-03-15 17:53] DanielaSfregola commented on #231
Closing this as duplicate of #173

[2019-03-15 17:53] #231 closed

[2019-03-18 06:39] mitgard commented on #227
Hi @DanielaSfregola, It's greatfull. Thank you.

[2019-03-19 15:33] rtyley commented on #237
Note that the constructor-overriding-hack in this gist no longer works with `twitter4s` v6, due to PR #211 which makes those constructors private.

@DanielaSfregola, you did [mention](https://github.com/DanielaSfregola/twitter4s/issues/237#issuecomment-465447462) that `TwitterAuthenticationClient` in v6 would be an avenue for supporting App-only Authentication - but I get the impression that it's

[2019-03-20 08:28] DanielaSfregola commented on #237
At present there is no way to pass a `TwitterAuthenticationClient` to a `TwitterRestClient` -- and I am going to assume that implementing the missing functionalities for `TwitterAuthenticationClient` is going to take a while.

Happy to do a patch and make those constructors public again. Would this work?

Cheers,
Daniela

[2019-03-20 19:08] DanielaSfregola commented on #237
Thanks @rtyley for the PR - which I have released in twitter4s 6.0.1

Hopefully, we will add support for the application-only support soon, but this should at least allow you to keep you going until then!

Cheers,
D.

[2019-04-02 10:39] mitgard commented on #227
Hi, @DanielaSfregola. I finded some mistake in the Post Parameters. In the class com.danielasfregola.twitter4s.http.clients.rest.directmessages.parameters.EventListParameters should renamed field `next_cursor` to `cursor`.

[2019-04-02 10:44] DanielaSfregola commented on #227
Thanks  @mitgar, could you please raise this as a separate issue? It should
be fairly easy to fix.

Also, feel free to raise a PR for it...PRs are always welcome ;)

Cheers,
Dabiela

On Tue, 2 Apr 2019, 11:39 mitgard, <notifications@github.com> wrote:

[2019-05-12 09:56] DanielaSfregola opened #241 "Proposal: cursor handling"
Just a quick note to keep track of ideas.

This has been inspired by https://github.com/DanielaSfregola/twitter4s-demo/pull/30
Should this library handle cursor? The "next-cursor" pattern is quite popular in the Twitter API.

PROS:
- I assume people do this quite often, so it would be useful to have it in the library

CONS:
- You could really hit your rate limits by querying lots of pages that you

[2019-06-10 07:39] lmyslinski opened #242 "Streaming API modification proposal"
Hi,
first of all, thanks for building this library. It's awesome. With that said, I have a number of problems with the streaming API. I'm trying to build a service that is supposed to consume tweets 24/7, and the design of the API makes it really hard to handle any issues.

Twitter describes a pretty large collection of errors and reasons for shutting down a stream. The user of the API has no reas

[2019-06-10 08:09] Humblehound commented on #242
Update: Just realized that, obviously, you can't return two futures from a single function. However the stream handle could expose a method for polling the status of the stream, which would still result in more or less the same capabilities

[2019-06-10 09:38] DanielaSfregola commented on #242
Hi @Humblehound! Thank you for the nice words!

Yes I totally agree with you: the Streaming API is far from perfect and we need to dedicate some proper love to it (I have other tickets related to this, I will try to link them here later on).

I'll try to think of this and come back to you by tomorrow so that we can finalize an API. Ideally we need to come up with an API  that looks simple but it i

[2019-06-10 10:41] Humblehound commented on #242
I'd be happy to! So I've tried implementing the first approach, I don't really like it since a tuple of two futures is not a monad so you can't map over it... I think it would be best to see how this could be implemented and work up towards what the API could look like. To start - I think this fragment is crucial:

[code]

As you can see I've modified it slightly already. I've used akka-streams a

[2019-06-11 21:50] DanielaSfregola commented on #242
A few things people have been requested that could be interesting for our discussion:
- A user may want to handle stream unrelated errors differently (see  https://github.com/DanielaSfregola/twitter4s/issues/142)
- A user may want to "listen" for a stream closure (see https://github.com/DanielaSfregola/twitter4s/issues/144)
- A user may want to access the stream directly (see https://github.com/Da

[2019-06-11 22:17] DanielaSfregola commented on #242
I need to think more about this, but I think we have two essential problems in the current API:
- the current object we return (currently named `TwitterStream`) is not powerful enough. First of all - it is not a stream as you cannot access it: the only thing you can do with it is closing it! We should probably think at something more powerful that actually is a stream that people can access and do

[2019-06-12 04:24] Humblehound commented on #242
I'll start working on incorporating the first three - abstracting upon stream implementation seems like a  much bigger task

[2019-06-12 05:15] DanielaSfregola commented on #242
Agreed, we are not going to solve it now as it is a much bigger task - but it is good to keep it in mind to ensure the new API should be independent from any specific streaming library we could be using :)

[2019-06-12 06:54] Humblehound commented on #242
I'm not exactly sure how we could achieve that. As far as I'm aware, there is no common "Streaming API". `akka-streams`, `fs2`, `monix` - all of them are built from scratch. They also utilize different mechanism and models - i. e. only akka streams allows you to create a graph blueprint. However most libraries offer conversions between different stream implementations - `fs2` can work with a `akka

[2019-06-12 07:15] DanielaSfregola commented on #242
About using the different streaming API, you would have to specify separate modules that allow to use a stream library other than akka-stream (twitter4s-f2, twitter4s-monix or something)! But this is a problem for another day :)

Yes, I agree with you about streams: we should allow users that are cool with streams to just use the stream. I also think we should make things easier for those that are

[2019-06-12 10:45] Humblehound commented on #242
#243 I've been messing with the code a bit. I've created a duplicate implementation side by side which exposed the stream to the end user. I've also had to simply lots of implicit stuff just not to have to figure out what parameters are required where etc. at this point.

This implementation still misses any of the added-value stuff like retries and message filtering, but it is working

[2019-08-09 17:56] papirosko opened #244 "Handle stream errors"
This is not an error handling:
[code]
make it at least:
[code]

[2019-08-09 18:14] DanielaSfregola commented on #244
Hi @papirosko,
thanks for the suggestion! Yes, I like your proposal: could you send us a PR?

Thanks,
Daniela

[2019-08-09 18:29] papirosko commented on #244
https://github.com/DanielaSfregola/twitter4s/pull/245

[2020-09-05 08:07] zzvara opened #322 "Scala Steward: why do you not like us anymore?"
@DanielaSfregola It would be useful to bump dependency versions more seamlessly and to keep the project up-to-date.

[2020-09-05 08:44] DanielaSfregola commented on #322
Hi @zzvara,
this project has been using Scala Steward for quite some time now - see https://github.com/scala-steward-org/repos/blob/master/repos-github.md.

However, I can see your confusion: The bot has not been doing any PR for 23 days - which is weird!

I'll see if I can figure out why this is the case. (Changing the title of this issue)

[2020-09-05 08:50] zzvara opened #323 "Release with major bump to 7.0?"
@DanielaSfregola  With the new AKKA version upgrade, I think it would be best to bump to 7.0, to warn users that things will definitely break upon `twitter4s` upgrade.

[2020-09-05 09:12] DanielaSfregola commented on #323
HI @zzvara, I have a few PRs that change the API so a major jump in version is in the plans.
Hopefully, I'll get to the release today :)

[2020-09-05 10:09] DanielaSfregola commented on #322
Ok, I have found a few issues related to our travis configuration - they are not fixed. See https://github.com/DanielaSfregola/twitter4s/pull/324

Not sure if they could have caused the ScalaSteward issues - I have asked support on their Gitter channel.
Hopefully, either Scala Steward will come back or they will suggest what is wrong on Gitter

[2020-09-05 10:30] DanielaSfregola commented on #322
Ok got a reply on Gitter: no errors in the logs from the Scala Steward bot running on OS projects.
But Thomas has the following suggestion:

"""
Frank S. Thomas @fthomas 11:24
@DanielaSfregola I don't see any errors in the logs. Could it be the case that newer versions dropped 2.11 support and you are still supporting 2.11? In this cases Scala Steward do not propose new updates
"""

...I'll invest

[2020-09-05 10:31] DanielaSfregola opened #325 "Drop support for Scala 2.11"
....it's time!

[2020-09-05 11:08] DanielaSfregola commented on #322
Ok, mystery solved!

If I compile our code using scala 2.11.8 is not able to find the Akka version for it (I guess they dropped the support for it):
[code]

We should have detected this in CI when the PR was created - but unfortunately, this wasn't the case because our CI configs were not working as expected.

Scala Steward is indeed smart, and it will not create a PR for a version not supporting

[2020-09-05 11:52] #322 closed

[2020-09-05 16:02] DanielaSfregola commented on #323
version 7.0 is on its way to maven central!

Closing this issue 👍

[2020-09-05 16:02] #323 closed

[2020-09-15 17:57] DanielaSfregola commented on #325
Done in twitter4s 7.0

[2020-09-15 17:57] #325 closed

[2020-09-16 17:42] aburkhalter512 opened #332 "v7.1 Release Date Question"
Not sure where to best ask this question, but when is v7.1 getting released? Are you waiting for more changes to come in?

[2020-09-16 17:55] DanielaSfregola commented on #332
HI @aburkhalter512,
so far we only have your PR - we should wait for more changes before releasing.

We can release a SNAPSHOT version for people to try things out - usually only for 2.13.
Would using a SNAPSHOT version be an acceptable compromise? What scala version are you using so that I can ensure we have a SNAPSHOT version for it?

Cheers,
Daniela

[2020-09-16 18:04] aburkhalter512 commented on #332
Using a snapshot version would work great for us! Could you publish the 2.12 version?

Thanks for the quick response.

[2020-09-16 18:15] DanielaSfregola commented on #332
Ok, I have just published 7.1-SNAPSHOT for both scala 2.12 and 2.13 - give it a try!

Make sure to follow the instructions on how to use SNAPSHOT versions at https://github.com/DanielaSfregola/twitter4s#snapshot-versions: you will need add a resolver in your sbt configuration.

Cheers,
Daniela

[2020-09-17 07:25] DanielaSfregola commented on #332
I am going to assume you were able to use the SNAPSHOT version.
Please, let me know if this is not the case and I'll reopen the ticket

[2020-09-17 07:25] #332 closed

[2020-10-20 00:43] sorenbug opened #341 "Unchecked `null`s in User"
Some of the fields in User such as `lang`, `profile_background_image_url`, and `profile_background_image_url_https` are nullable, but not marked as `Option` in the case classes.

This breaks circe's printing, as it expects all values to be non-null.

[2020-10-21 10:05] Wajktor opened #342 "Cannot find value "Language""
Cannot find value "Language" when using twitterSearch

[2020-10-21 18:42] DanielaSfregola commented on #342
Hi @Wajktor,

could you please elaborate on what you mean by `cannot find value "Language"`? Is it a runtime error? do you have a stack trace?

Thanks,
Daniela

[2020-12-13 20:04] mnotti opened #354 "Bad Authentication Data"
Just setting up twitter account for the first time and getting the following error when I try to make any API call:

`encountered exception with timeline: com.danielasfregola.twitter4s.exceptions.TwitterException: [400 Bad Request] Bad Authentication data. (215)`

I included some prints in my code to check the authorization data is correct (loaded from my reference.conf) and it matches what I see

[2020-12-13 20:09] mnotti commented on #354
very strange... I got it to work by revoking my Access Token (generated for read only) and generating a new one with read AND write permissions.

Odd, because the timeline request should just be a read. Anyway, happy it's working now!

[2020-12-13 20:09] #354 closed

[2021-01-17 10:17] DanielaSfregola commented on #342
Closing, not enough information to start the investigation

[2021-01-17 10:17] #342 closed

[2021-02-04 02:59] TheConner opened #366 "Support for full-archive / academic research track endpoints"
Hello :smiley: this library has been great to use, it's been incredibly useful with the research work I have been doing.
Currently, if my understanding is correct this only supports the "standard" search endpoints `search/tweets.json`

After doing some digging I've found that this endpoint won't offer the amount of data needed for the research I'm doing, thus I would need something like [this endp

[2021-02-04 09:38] DanielaSfregola commented on #366
Hi @TheConner,
I am glad this library has been useful!

Unfortunately, we do not support any v2 endpoint yet (simply due to lack of time) - but this shouldn't be too hard to do if you want to give it a try! (happy to advise/support you in the process).

The authentication seems to be the same, although it seems like you need a token that is approved for Academic Research (which I do not have, but

[2021-02-13 17:11] TheConner commented on #366
Hi @DanielaSfregola
Thanks for the helpful response! I've found some time to get started on this, luckily I only need to implement a few endpoints. I've done some work to build this, but I do have two questions:

1. It looks like in order to make this work I need to add bearer token support (from what I read in `http.clients.authentication`, there does not seem to be bearer token support) which on

[2021-02-14 10:35] DanielaSfregola commented on #366
1. The issue #237 is definitively a good starting point. You can even create a new client in which you assume that in initialization the user will give you the bearer token to use.
2. Testing must be there, but as you said, we cannot put real tokens in it. In the current library, we completely stub (simulate the behaviour) of the twitter API by parsing json files -- there are plenty of examples on

[2021-02-14 10:37] DanielaSfregola commented on #366
Also,  you do not need to have a PR ready to ask for help - if you get stuck just ping me a branch and I can advise/help :)

[2021-02-14 17:04] TheConner commented on #366
Added a bearer token client in my [fork](https://github.com/TheConner/twitter4s/commit/88e2b782610f90d02f1401dc5ad7595f4e6ad869) - moving on to integrating it with full archive search. I looked through the tests and I couldn't find any for `http.clients.OAuthClient` nor `http.clients.Client`. Let me know if there's any changes I can make so it's up to snuff before a PR

[2021-02-14 18:02] TheConner commented on #366
A question: with this new BearerTokenClient, I think it can be used in [RestClient](https://github.com/DanielaSfregola/twitter4s/blob/master/src/main/scala/com/danielasfregola/twitter4s/http/clients/rest/RestClient.scala); however, it looks like that main rest client based off of `Client` which is a `OAuthClient`... So I'm thinking I could decouple `Client` from `OAuthClient`, such that we can pas

[2021-02-15 21:19] DanielaSfregola commented on #366
We do not have tests *just* for the `OAuthClient` as far as I can see - but I think we could add them.

Decoupling `Client` and  `OAuthClient` I think is the right thing to do. Ideally, we could have people use:

[code]

[2021-02-17 21:07] TheConner commented on #366
Initial decoupling done [here](https://github.com/TheConner/twitter4s/commit/c74b1070f1a0384f880fae9addf433ca14dce5a1) with test case [here](https://github.com/TheConner/twitter4s/commit/cbf93120d2e338d1a4d8a1d274252cb5a1212748). I'm having issues building twitter4s for use with my own application, so I'm having a hard time verifying that this works outside of the test cases... Lots of dependency

[2021-02-20 17:10] TheConner commented on #366
Update: there is a bug in my initial implementation, although figuring out why this is happening is a tad cryptic. Oddly enough all the tests pass, but when I use twitter4s within my application I get
[code]

Continuing to investigate...

[2021-02-21 09:23] DanielaSfregola commented on #366
Something to do with JSON support when initializing the RestClient.... (I did a quick look at the code - just looking, didn't check it out -- and didn't see anything obvious)

[2021-02-23 00:56] TheConner commented on #366
It was due to a dependency issue, my application uses a different scala version (Apache spark is behind a few versions) so I had to build twitter4s for a different scala version & some of the dependency changes I made on my end didn't work. Also, building twitter4s as a jar and importing that jar in meant that I had to manually include dependencies

Anywho, after that and some other dependency pai

[2021-02-25 02:02] TheConner commented on #241
I may need this for my research work actually. If I find that pulling 500 tweets/request isn't enough for my needy needs, I will follow up with a PR of some kind. Is there any particular design pattern you would like to follow here, or should cursors be handled on a case-by-case basis?

[2021-02-25 09:03] DanielaSfregola commented on #241
You can do the cursor by hand, of course. The idea is to maybe a chain of requests and stop either when rate limits are reached or when "enough" data has been collected

[2021-03-15 15:35] zzvara opened #380 "JSON4S 3.7.0-M11 breaks API, I hereby request a release"
Hi,

JSON4S 3.7.0-M11 breaks API, it would be nice to release 7.2 with M11 as soon as possible. <3

Thanks!

[2021-03-15 16:19] #380 closed

[2021-03-15 16:19] zzvara commented on #380
Breaks `"de.heikoseeberger" %% "akka-http-json4s" % "1.35.3"`.

[2022-04-10 17:08] Shastick commented on #237
As an FYI: the workardoung still works like a charm. Just create the file from the gist (under the correct package) and this will get you going:

[code]

(Thanks for this library @DanielaSfregola ! :))

[2022-04-21 22:11] Shastick commented on #237
@DanielaSfregola would you be Ok if we did the same hack with the streaming client?

(From a cursory glance changing the visibility of a constructor, as @rtyley did in https://github.com/DanielaSfregola/twitter4s/pull/239, should work the same)

[2022-04-22 18:11] DanielaSfregola commented on #237
Hi @Shastick, no objections from me!

We could even add @rtyley's workaround into the library.
Ideally, this shouldn't really be a "hack", the library should just support it....but unfortunately, I haven't had much time to work on this yet! :)

[2022-04-24 12:09] Shastick commented on #237
That makes sense. Might find the time to do a proposal in a PR :)

[2022-05-19 08:51] rtyley opened #465 "Publishing release 7.1 to Maven Central"
Hi there! I see `twitter4s` [v7.1](https://github.com/DanielaSfregola/twitter4s/releases/tag/v7.1) was tagged in February 2021, but it [doesn't seem to be on Maven Central](https://repo1.maven.org/maven2/com/danielasfregola/twitter4s_2.13/) - would you be able to do a release?

The 7.1 release is helpful to us at the Guardian, as we're updating our `json4s` version, which conflicts with the old ve

[2022-05-20 07:27] DanielaSfregola commented on #465
Hi Robert,
I'll try to do a release this weekend.

Cheers,
Daniela

[2022-05-20 10:59] rtyley commented on #465
Many thanks Daniela - our Scala learning group at work is still loving your book by the way!

[2022-05-21 09:17] DanielaSfregola commented on #465
Thanks for your kind words! I am glad your learning group is enjoying my book :)

So I have published both v7.1 and v8.0 (see tags). Let me know if after a day you still do not see them on maven central! (these things can be tricky at times!)

Cheers,
Daniela

[2022-05-24 09:18] rtyley commented on #465
Thanks so much Daniela! I can confirm that the new releases are [available in Maven Central](https://repo1.maven.org/maven2/com/danielasfregola/twitter4s_2.13/) - thank you!

![image](https://user-images.githubusercontent.com/52038/169997154-f5147573-dd93-4cc8-9fb9-1e0c055f0964.png)

[2022-05-24 09:18] #465 closed

[2022-09-23 08:15] #230 closed

[2022-09-23 08:16] #148 closed

[2022-09-23 08:16] #147 closed